{% load stringutils %}
{% load humanize %}

<div class="b-adplate">
    <div class="b-adplate__questions">
        <a href="{% url 'gorod:hub' city.name %}" class="b-adplate__title">Вопросы</a>
        <ul>
            {% for question in adplate.questions %}
                <li>
                    <a href="{% url 'gorod:hub-question' city.name question.id %}">
                        {{ question.question|smart_truncate:60 }}
                    </a>
                    <div class="b-adplate-questions__info">
                        <span class="b-adplate-questions__date">{{ question.add_date|naturalday }}</span>
                        {% if question.answer_cnt %}
                            <span class="b-adplate-questions__comments"><i></i>
                                {{ question.answer_cnt }}
                            </span>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="b-adplate__organizations{% if adplate.payments|length <= 3 %} b-adplate__organizations_wide{% endif %}">
        <a href="{% url 'gorod:organizations' city.name %}" class="b-adplate__title">Организации</a>
        <ul>
            {% for organization in adplate.organizations %}
                <li>
                    <span>{{ organization.category }}</span>
                    <a href="{% url 'gorod:organization' city.name organization.id %}">{{ organization.name }}</a>
                </li>
            {% endfor %}
            <div class="clear"></div>
        </ul>
    </div>
    {% if adplate.payments %}
        <div class="b-adplate__payments">
            <a href="{% url 'gorod:payments' city.name %}" class="b-adplate__title">Оплата услуг</a>
            <ul>
                {% for payment in adplate.payments %}
                    <li>
                        <a target="_blank" href="{{payment.url}}">{{ payment.title|smart_truncate:50 }}</a>
                    </li>
                {% endfor %}
                <div class="clear"></div>
            </ul>
        </div>
    {% endif %}
    <div class="b-adplate__welcome">
        <a href="{% url 'gorod:welcome' city.name %}">
            <h2 class="b-adplate__welcome-title">Городской сайт {{ city.title_gent }}</h2>
            <p class="b-adplate__welcome-text">
                Как начать публиковать новости, фотографии и полезную информацию
            </p>
        </a>
    </div>
    <div class="clear"></div>




    <div  id="owl-carousel" class="owl-carousel">
        <div class="b-adplate__questions">
            <a href="{% url 'gorod:hub' city.name %}" class="b-adplate__title">Вопросы</a>
            <ul>
                {% for question in adplate.questions %}
                    <li>
                        <a href="{% url 'gorod:hub-question' city.name question.id %}">
                            {{ question.question|smart_truncate:60 }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="b-adplate__organizations">
            <a href="{% url 'gorod:organizations' city.name %}" class="b-adplate__title">Организации</a>
            <ul>
                {% for organization in adplate.organizations %}
                    <li>
                        <span>{{ organization.category }}</span>
                        <a href="{% url 'gorod:organization' city.name organization.id %}">{{ organization.name }}</a>
                    </li>
                {% endfor %}
                <div class="clear"></div>
            </ul>
        </div>
        {% if adplate.payments %}
            <div class="b-adplate__payments">
                <a href="{% url 'gorod:payments' city.name %}" class="b-adplate__title">Оплата услуг</a>
                <ul>
                    {% for payment in adplate.payments %}
                        <li>
                            <a target="_blank" href="{{payment.url}}">{{ payment.title|smart_truncate:50 }}</a>
                        </li>
                    {% endfor %}
                    <div class="clear"></div>
                </ul>
            </div>
        {% endif %}
        <div class="b-adplate__welcome">
            <a href="{% url 'gorod:welcome' city.name %}">
                <h2 class="b-adplate__welcome-title">Городской сайт {{ city.title_gent }}</h2>
                <p class="b-adplate__welcome-text">
                    Как начать публиковать новости, фотографии и полезную информацию
                </p>
            </a>
        </div>
    </div>
    <script>
        $(function(){
            $('#owl-carousel').owlCarousel({
                items : 1,
                singleItem: true
            });
        });
    </script>
</div>