{% verbatim %}
<script id="feed-item-template" type="text/x-handlebars-template">
    <li class="b-feed-item  b-feed-item_{{rubric.name}}" >
        <div class='b-user'>
            <a href="{{ user.profile_url }}" class="b-user__avatar">
                <img src="{{ user.full_avatar }}" />
            </a>
            <a href="{{ user.profile_url }}" class="b-user__name">{{ user.human_name }}</a>
        </div>

        {{#if text}}
            <div class="b-feed-item__text">
                {{{ text }}}
            </div>
        {{/if}} 

        {{#if thumbnail }}
            <img class="b-feed-item__picture" src="{{ thumbnail }}" />
        {{/if}} 

        <!-- Like block -->
        <div class="b-like"
             data-object-pk="{{ id }}"
             data-content_type="gorod.article"
             data-raiting="{{ raiting }}"
             data-was-already-liked="false"
             >
        </div>

        {{#if comment_cnt}}
            <div class="b-feed-item__comments"><i></i>{{ comment_cnt }}</div>
            <!-- Comments list. FIXME -->
            <div class="b-comments__list">
                {{#each comments}}
                    <div class="b-comment">
                        <p class="b-comment__text">{{ comment }}</p>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        
        <!-- Comment form -->
        <div class="b-feed-item__comment-form">
            <!-- On click we have to open form -->
            <span>Комментировать</span>
        </div>
    </li>
</script>
{% endverbatim %}

