{% load staticfiles %}
<div class="b-header">
	<ul class="b-header__menu">
		<li class="b-header__menu-item_current"><a href="{% url 'gorod:city' city.name %}">{{city.title}}</a></li>
		<!--<li><a href="/">Галерея</a></li>
		<li><a href="/">Афиша</a></li>
		<li><a href="/">Объявления</a></li>-->
		<li><a href="{% url 'gorod:organizations' city.name %}">Организации</a></li>
	</ul>
	{% if request.user.is_superuser %}
        <a href="/admingorod/article/add/" class="b-header__add" target="blank">Добавить</a>
	{% endif %}
	<div class="clear"></div>
</div>
