{% load staticfiles %}

{% load menu %}
<div class="b-header">
	<div class="b-header__content">
		<span class="b-header__menu-btn"><i></i>МЕНЮ</span>
		<a class="b-header__city" href="{% url 'gorod:city_main_page' city.name %}">{{city.title}}</a>

		{% if request.user.is_superuser %}
			<div class="b-header__btns">
		        <a href="#" class="b-header__add" >+ Добавить</a>
		        <a href="{% url 'social:begin' "vk-oauth2" %}" class="b-header__vk sn-logo">Войти</a>
		    </div>
		{% endif %}
		<div class="clear"></div>
	</div>
	<div class="b-header__menu">
		{% menu city %}
		<div class="b-header__btns">
	        <a href="#" class="b-header__add" >+ Добавить</a>
	        <a href="{% url 'social:begin' "vk-oauth2" %}" class="b-header__vk sn-logo">Войти</a>
	    </div>
	</div>
</div>
