{% load staticfiles %}

{% load menu %}
<div class="b-header">
	<div class="b-header__content">
		<span class="b-header__menu-btn"><i></i>МЕНЮ</span>
		<a class="b-header__city" href="{% url 'gorod:city_main_page' city.name %}">{{city.title}}</a>

			<div class="b-header__btns">
                {% if user.is_authenticated %}
                    <a href="#" class="b-header__add" >+ Добавить</a>
                    {% if user.city %}
                        <!-- FIXME later -->
                        <a href="{% url 'gorod:user' user.city.name user.id %}" class="b-header__avatar"><img src="{{ user.avatar }}" /></a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'social:begin' "vk-oauth2" %}?next={{ request.get_full_path }}" class="b-header__login sn-logo">Войти</a>
                {% endif %}

		    </div>
		<div class="clear"></div>
	</div>
	<div class="b-header__menu">
		{% menu city %}
		<div class="b-header__btns">
	        <a href="#" class="b-header__add" >+ Добавить</a>
	        <a href="{% url 'social:begin' "vk-oauth2" %}" class="b-header__vk sn-logo">Войти</a>
	    </div>
	</div>
</div>
