{% load staticfiles %}
<link href="{% static 'gorod/css/style.css' %}?v=15" rel="stylesheet" type="text/css" />
<link rel="SHORTCUT ICON" href="{% static 'gorod/img/favicon.ico' %}?v=9" />
<script>
	var globals = {
		{% if city %}
            cityId: '{{ city.id }}',
            currentUrlPath: '{{ request.path }}',
	    	cityName : '{{ city.name }}',
	    	url : '{{ request.path }}',
            formAjaxUrls : {
                {% for rubric in rubrics %}
                    '{{ rubric.name }}': '{% url 'gorod:article-add' city.name rubric.name %}',
                {% endfor %}
            },
            {% if rubric %}
                rubric: '{{ rubric.name }}',
            {% endif %}

            {% if article %}
                articleInfo :{
                    {% if article.rubric and article.rubric.name %}
                        rubricName: '{{ article.rubric.name }}',
                    {% endif %}
                    {% if article.rubric and article.rubric.title %}
                        rubricTitle: '{{ article.rubric.name }}',
                    {% endif %}
                },
            {% endif %}    
            
            {% if user_info %}
                profileUserId: {{ user_info.id }},
            {% endif %}

            {% if article and user == article.user %}
                articleDeleteUrl : '{% url 'gorod:article-delete' city.name article.id %}',
                articleEditUrl : '{% url 'gorod:article-edit' city.name article.rubric.name article.id %}',
            {% endif %}
		{% endif %}
	};
</script>
<script src="{% static 'gorod/js/jquery.js' %}" ></script>
<script src="{% static 'gorod/js/masonry.js' %}"></script>
<script src="{% static 'gorod/js/imagesloaded.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'gorod/js/handlebars.js' %}"></script>
<script src="{% static 'gorod/js/addpopup.js' %}?v=12" ></script>
<script src="{% static 'gorod/js/ajaxfeed.js' %}?v=8" ></script>
<script src="{% static 'gorod/js/main.js' %}?v=9" ></script>
