{% load staticfiles %}
<link href="{% static 'gorod/css/style.css' %}?v=5" rel="stylesheet" type="text/css" />
<link rel="SHORTCUT ICON" href="{% static 'gorod/img/favicon.ico' %}?v=3" />
<script>
	var globals = {
		{% if city %}
	    	cityName : '{{ city.name }}',
	    	url : '{{ request.path }}',
	    	articleAddUrl : '{% url 'gorod:article-add' city.name %}',
            {% if rubric %}
                rubric: {{ rubric }},
            {% endif %}
            {% if user_info %}
                profileUserId: {{ user_info.id }},
            {% endif %}
		{% endif %}
	};
</script>
<script src="{% static 'gorod/js/jquery.js' %}" ></script>
<script src="{% static 'gorod/js/masonry.js' %}"></script>
<script src="{% static 'gorod/js/imagesloaded.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'gorod/js/handlebars.js' %}"></script>
<script src="{% static 'gorod/js/addpopup.js' %}?v=2" ></script>
<script src="{% static 'gorod/js/main.js' %}?v=2" ></script>
