{% extends 'gorod/layout.html' %}

{% load staticfiles %}
{% load humanize %}

{% block meta_title %}{{ article.title }} - {{city.title}}{% endblock %}

{% block meta_description %}{{ article.title }} - {{city.title}}{% endblock %}


{% block content %}
    <div class="b-article__wrapper">
        <div class="b-article b-article_{{article.rubric.name}}">
            <div class="b-article__top "></div>
            <div class="b-article__content">

                <div class="b-article__info">
                    <div class="b-article__author">
                        <a href="{% url 'gorod:user' article.user.city.name article.user.id %}" class="b-article__avatar">
                            {% if article.user.avatar %}
                                <img src="{{ article.user.avatar }}" />
                            {% else %}
                                <img src="{% static 'gorod/img/userava.png' %}" />
                            {% endif %}
                        </a>
                        <a href="{% url 'gorod:user' article.user.city.name article.user.id %}" class="b-article__author-name">{{ article.user.first_name }} {{ article.user.last_name }}</a>
                    </div>
                    
                    <div class="b-article__descr">
                        <a href="{% url 'gorod:feed-rubric' city.name article.rubric.name %}" class="b-article__rubric">{{ article.rubric.title }}</a>
                        <span class="b-article__date">{{ article.add_date|naturalday }}</span>
                        <br />
                        {% if request.user.is_superuser %}
                            <a class="edit-link" target="_blank" href="{% url 'admin:gorod_article_change' article.id %}?source=main">Редактировать</a>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                
                <h2 class="b-article__title">{{ article.title }}</h2>
                            
                

                <div class="b-article__text">
                    {% autoescape off %}
                        {{ article.text }} 
                    {% endautoescape %} 
                </div>

                {% if article.picture and article.picture.url %}
                    <img class="b-article__picture" src="{{article.picture.url}}" />
                {% endif %}

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="b-feed__wrapper">
        {% include "gorod/feed/_feed_item.html" %}
        <script>
            $(function(){
                window.ajaxFeed();
            });
        </script>
        <div class="b-feed">
            <ul class="b-feed__list">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                <li class="b-feed-item b-feed-item_info">
                    <h2 class="b-feed-item__title">Добро пожаловать<br /> в «ГОРОД»</h2>    
                    <p class="b-feed-item__text">Все о платформе. Как начать с ней работать. Как добавлять публикации, фотографии и события города.</p>
                </li>
            </ul>
            <div class="b-feed__more_wrapper"><span class="b-feed__more">Показать еще</span></div>
           
        </div>
    </div>
{% endblock %}

