{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}
    {{ city.title }}. Как публиковать новости и полезную информацию.
{% endblock %}

{% block meta_description %}
    Как начать публиковать новости, фотографии и полезную информацию на городском сайте {{ city.title_gent }}.
{% endblock %}

{% block content %}
<div class="b-welcome__wrapper">
    <div class="b-welcome">
        <div class="b-welcome__content">
            <h2 class="b-welcome__title">Городской сайт {{ city.title_gent }}</h2>
            <div class="b-welcome__text">
                {% autoescape off %}
                    {{ welcome.text }}
                {% endautoescape %} 
            </div>
            <div class="b-article__service">
                <div class="b-article__share">
                    <span class="b-article__share-text">Поделиться:</span>
                    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div> 
                </div>
                <div class="b-article__complaint">
                    <a href="mailto:hola@gorod.io"><i></i>Пожаловаться</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="b-feed__wrapper">
        {% include "gorod/feed/_feed_item.html" %}
        <script>
            $(function(){
                window.ajaxFeed();
            });
        </script>
        <div class="b-feed">
            <span class="b-feed__title">Читать также</span>
            <ul class="b-feed__list">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
            </ul>
            <div class="b-feed__more_wrapper"><span class="b-feed__more">Показать еще</span></div>
           
        </div>
    </div>
{% endblock %}

