{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}{{city.title}} - Полезная информация{% endblock %}

{% block meta_description %}{{city.title}} - Полезная информация{% endblock %}

{% block content %}
    <h1 class="b-city-info__title">Полезная информация</h1>
    <div class="b-city-info">
        
        {% if request.user.is_superuser %}
            <a class="edit-link" target="_blank" href="{% url 'admin:gorod_cityinfo_change' info.id %}">Редактировать</a>
        {% endif %}

        <h3>Список вопросов:</h3>
        <ul class="b-city-info__questions">
            {% for question in questions %}
                <li class="b-city-info__question">
                    <a href="{% url 'gorod:city-info-question' city.name question.id %}">
                        {{ question.question }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

