{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}О городе {{city.title}}{% endblock %}

{% block meta_description %}О городе {{city.title}}{% endblock %}

{% block content %}
    <div class="b-city-info">
        
        {% if request.user.is_superuser %}
            <a class="edit-link" target="_blank" href="{% url 'admin:gorod_cityinfo_change' info.id %}">Редактировать</a>
        {% endif %}

        <div class="b-city-info__questions">
            {% for question in questions %}
                <p class="b-city-info_question">
                    <a href="{% url 'gorod:city-info-question' city.name question.id %}">
                        {{ question.question }}
                    </a>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

