{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}{{city.title}} - {{ question.question }}{% endblock %}

{% block meta_description %}{{city.title}} - {{ question.question }}{% endblock %}

{% block content %}
    <div class="b-city-info b-city-info-question">
        {% if request.user.is_superuser %}
            <a class="edit-link" target="_blank" href="{% url 'admin:gorod_cityinfo_change' question.cityinfo.id %}">Редактировать</a>
        {% endif %}

        <h2 class="b-city-info__question-title">
            {{ question.question }}
        </h2>

        <div class="b-city-info__question-answer">
            {% autoescape off %}
                {{ question.answer }}
            {% endautoescape %}
        </div>

        
    </div>
    {% if other_questions %}
        <noindex>
            <div class="b-city-info__questions-other-wrapper">
                <div class="b-city-info__questions-other">
                    <h3>Другие вопросы:</h3>
                    <ul class="b-city-info__questions">
                        {% for other_question in other_questions %}
                            <li class="b-city-info__question">
                                <a href="{% url 'gorod:city-info-question' city.name other_question.id %}">
                                    {{ other_question.question }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </noindex>
    {% endif %}
{% endblock %}

