{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}
    {{ city.title }}. Как публиковать новости и полезную информацию.
{% endblock %}

{% block meta_description %}
    Как начать публиковать новости, фотографии и полезную информацию на городском сайте {{ city.title_gent }}.
{% endblock %}

{% block content %}
<div class="b-welcome__wrapper">
    <div class="b-welcome">
        <div class="b-welcome__content">
            <h2 class="b-welcome__title">Городской сайт {{ city.title_gent }}</h2>
            <div class="b-welcome__text">
                {% autoescape off %}
                    {{ welcome.text }}
                {% endautoescape %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}

