{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}Городской сайт {{ city.title_gent }}{% endblock %}

{% block meta_description %}{{ city.title }} — новости, события, организации, вопросы и ответы{% endblock %}
{% block body-class %}not-adaptive-935{% endblock %}

{% block content %}

    {% if not rubric %}
        {% include "gorod/feed/_adplate.html" %}
    {% endif %}

    <div class="b-feed__wrapper">
        {% if rubric %}
            <h1 class="b-feed__rubric-title b-feed__rubric-title_{{rubric.name}}">
                {% if rubric.title_plural %}
                    {{rubric.title_plural}}
                {% else %}
                    {{ rubric.title }}
                {% endif %}
            </h1>
        {% endif %}
        {% include "gorod/feed/_feed_item.html" %}
        <script>
            $(function(){
                window.ajaxFeed();
            });
        </script>
        <div class="b-feed">
            {% if not rubric %}
                <span class="b-feed__title">Сообщения от жителей</span>
            {% endif %}
            <ul class="b-feed__list">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
            </ul>
            <div class="b-feed__more_wrapper"><span class="b-feed__more">Показать еще</span></div>
           
        </div>
    </div>
{% endblock %}

