{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}Городской сайт {{ city.title_gent }}{% endblock %}

{% block meta_description %}{{ city.title }} — новости, события, организации, вопросы и ответы{% endblock %}


{% block content %}
    {% if rubric %}
        <h1 class="b-feed__rubric-title b-feed__rubric-title_{{rubric.name}}">
            {% if rubric.title_plural %}
                {{rubric.title_plural}}
            {% else %}
                {{ rubric.title }}
            {% endif %}
        </h1>
    {% endif %}

    <div class="b-adplate" style="display: none">
        <div class="b-adplate__organizations">
            <span class="b-adplate__title">Организации</span>
            <ul>
                {% for organization in adplate.organizations %}
                    <li>
                        <a href="{% url 'gorod:organization' city.name organization.id %}">{{ organization.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="b-adplate__questions">
            <span class="b-adplate__title">Вопросы</span>
            <ul>
                {% for question in adplate.questions %}
                    <li class="b-city-info__question">
                        <a href="{% url 'gorod:hub-question' city.name question.id %}">
                            {{ question.question }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="b-adplate__welcome">
            <a href="{% url 'gorod:welcome' city.name %}">
                <h2 class="b-adplate__welcome-title">Городской сайт {{ city.title_gent }}</h2>
                <p class="b-adplate__welcome-text">
                    Как начать публиковать новости, фотографии и полезную информацию.
                </p>
            </a>
        </div>
    </div>

    <div class="b-feed__wrapper">
        {% include "gorod/feed/_feed_item.html" %}
        <script>
            $(function(){
                window.ajaxFeed();
            });
        </script>
        <div class="b-feed">
            <ul class="b-feed__list">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
            </ul>
            <div class="b-feed__more_wrapper"><span class="b-feed__more">Показать еще</span></div>
           
        </div>
    </div>
{% endblock %}

