{% extends 'gorod/layout.html' %}

{% load staticfiles %}
{% load group_filters %}

{% block meta_title %}Городской сайт {{ city.title_gent }}{% endblock %}

{% block meta_description %}{{ city.title }} — новости, события, организации, вопросы и ответы{% endblock %}

{% block header-content %}
    <h1 class="b-groups__city">{{ city.title }}</h1>
{% endblock %}

{% block content %}
    <div class="b-groups">
        {% for rubric in rubrics %}
            <a href="{% url 'gorod:feed-rubric' city.name rubric.name %}" class="b-groups-item">
                <div class="b-groups-item__feeds-cnt"><i></i>{{ rubric.articles_cnt }}</div>
                <div class="clear"></div>
                <div class="b-groups-item__name">{{rubric.title}}</div>
                <div class="clear"></div>
                {% if rubric.description %}
                    <div class="b-groups-item__description">{{rubric.description}}</div>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}

