{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}
    Городской конструктор. Помощь
{% endblock %}

{% block meta_description %}
    Что такое городской конструктор. Как добавить свой город и начать публиковать новости и добавлять организации.
{% endblock %}

{% block header %}
    <div class="b-header">
	    <div class="b-header__content">
            Руководство пользователя
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="b-help__wrapper">
    <div class="b-help">
        <div class="b-help__content">
            <ol>
            <li>Регистрация и профиль
                <ol>
                    <li>
                        <p>Зачем мне здесь регистрироваться?</p>
                        <p>
                            Только зарегистрированные пользователи могут пользоваться всеми благами сайта: публиковать сообщения,
                            информировать о новых меропритяиях, комментировать посты, задавать вопросы и отвечать на них.
                        </p>
                    </li>
                    <li>
                        <p>Как мне зарегистрироваться?</p>
                        <p>
                            Зарегистрироваться на сайте можно через социальную сеть (пока
                            доступны ВКонтакте и Оноклассники). Нажмите на кнопку «Добавить
                            сообщение» и выберите социальную сеть.
                        </p>
                    </li>
                    <li>
                        <p>Что видно в моем профиле?</p>
                        <p>
                            На странице вашего профиля будут отображаться все сообщения и
                            мероприятия, которые вы когда-либо публиковали в Городе.
                        </p>
                    </li>
                </ol>
            </li>
            <li>Лента города
                <ol>
                    <li>
                        <p>Что такое лента города?</p>
                        <p>
                            Каждая публикация в Городе формирует ленту города. В свою очередь есть
                            отдельная лента сообщений и мероприятий. Для этого достаточно нажать
                            на слово «сообщение»/«мероприятие» в посте, и лента отфильтруется.
                        </p>
                    </li>
                </ol>
                <ol>
                    <li>
                        <p>Как опубликовать сообщение или мероприятие?</p>
                        <p>
                            Нажмите на кнопку «добавить» и выберите тип поста – сообщение или
                            мероприятие. Напишите текст и опубликуйте.
                        </p>
                    </li>
                </ol>
                <ol>
                    <li>
                        <p>Можно ли отредактировать свое сообщение?</p>
                        <p>
                            Да, пост, который был написан вами, можно отредактировать. Для этого
                            достаточно зайти в пост и нажать «редактировать».
                        </p>
                    </li>
                </ol>
                <ol>
                    <li>
                        <p>Как комментировать посты?</p>
                        <p>
                            Комментировать материалы на сайте могут только зарегистрированные пользователи.
                            Администрация сайта будет удалять комментарии с грубой и ненормативной лексикой,
                            прямые или косвенные оскорбления героя поста или читателей, короткие оценочные коментарии («ужасно», «класс»,
                            «отстой»), комментарии разжигающие национальную и социальную рознь,
                            а также неинформативные комментарии, не касающиеся тем поста.
                        </p>
                    </li>
                </ol>
                <ol>
                    <li>
                        <p>За что могут удалить комментарий?</p>
                        <p>
                            Администрация сайта будет удалять комментарии с грубой
                            и ненормативной лексикой, прямые или косвенные оскорбления автора
                            поста или читателей, комментарии разжигающие национальную и социальную рознь, а также неинформативные комментарии, не
                            касающиеся темы поста.
                        </p>
                    </li>
                </ol>
                <ol>
                    <li>
                        <p>Мне нахамили в комментариях. Что делать?</p>
                        <p>
                            Поставьте минус за комментарий. Если же считаете, что комментарий
                            содержал оскорбление, призыв к расправе, насилию и тому подобному, то
                            напишите на hola@gorod.io.
                        </p>
                    </li>
                </ol>
            </li>
            <li>Вопросы и ответы
                <ol>
                    <li>
                        <p>Что такое «вопросы и ответы»?</p>
                        <p>
                            Раздел «Вопросы и ответы» позволяет свободно обсуждать волнующие
                            вопросы, близкие к городской тематике. Например, задать насущный
                            вопрос – купить запчасти для тойоты?, в каком кафе самые вкусные
                            чизкейки?, какая стоматология самая лучший на районе?; предложить
                            идею развития города – собираемся организовать субботник двора,
                            давайте устроим флешмоб.
                            Также здесь можно задать вопросы по проекту gorod.io.
                        </p>
                    </li>
                    <li>
                        <p>Как задать вопрос?</p>
                        <p>

                        </p>
                    </li>
                    <li>
                        <p>Как ответить на вопрос?</p>
                        <p>

                        </p>
                    </li>
                    <li>
                        <p>Почему удаляют вопросы?</p>
                        <p>
                            С сервиса удаляются:
                            <ul>
                                <li>Вопросы, не являющиеся вопросами, то есть не предполагающие ответа. Например, «Привет, я скучаю…», «Всем спасибо!», «Я домой, всем пока!» и т.п.</li>
                                <li>Вопросы, нарушающие законы РФ.</li>
                                <li>Вопросы, содержащие грубые оскорбления.</li>
                                <li>Вопросы, содержащие нецензурную брань.</li>
                                <li>Пустые вопросы типа «Как дела?», «Как настроение?», «Кто сейчас скучает на работе?» и т.п.</li>
                                <li>Призывы познакомиться типа: «Кто хочет со мной познакомиться?».</li>
                                <li>Призывы к сексу типа: «Кто хочет перепихнуться?», «Девчонки, хотите секса – звоните…» и т.п.</li>
                                <li>Вопросы для продвижения блогов и фотоальбомов. Например: «Каквам мой блог?», «Проголосуйте за мои фотки?».</li>
                                <li>Вопросы, заданные с целью раскрутки сайта. Например, «Все самое интересное здесь, http://spamers823.ru»</li>
                                <li>Вопросы, содержащие рекламу.</li>
                            </ul>
                        </p>
                    </li>
                    <li>
                        <p>Почему удаляют ответы?</p>
                        <p>С сервиса удаляются ответы:
                            <ul>
                                <li>Ответы, не дающие никакого ответа на вопрос. Например, «Не знаю», «Мне тоже интересно», «Купи словарь», «Не скажу» и т.п.</li>
                                <li>Ответы, содержащие грубые оскорбления.</li>
                                <li>Ответы, содержащие нецензурную брань.</li>
                                <li>Ответы, нарушающие законы РФ.  Ответы, содержащие рекламу.</li>
                                <li>Ответы, которые были даны на нарушивший правила вопрос, удаленный уже после появления ответов на него.</li>
                            </ul>
                        </p>
                    </li>
                    <li>
                        <p>Как подписаться на вопрос?</p>
                        <p>

                        </p>
                    </li>
                </ol>
            </li>
            <li>Правила участия в жизни города
                <ol>
                    <li>
                        <p>
                            На данный момент сервис не предназначен для рекламы и продвижения
                            товаров и услуг, публикации объявлений и предложений купли-продажи.
                            Все темы и комментарии просматриваются модератор сайта. Модератор
                            может удалить без предварительного уведомления темы и комментарии,
                            носящие рекламный характер или не соответствующие Правилам сайта.
                            Профили пользователей, неоднократно нарушающих правила общения,
                            будут заблокированы.
                        </p>
                    </li>
                    <li>
                        <p>Обнаружили ошибку или нарушение правил?</p>
                        <p>
                            В конце каждого поста или вопросв есть кнопка «Пожаловаться».
                            С ее помощью вы можете оперативно сообщить нам о любых нарушениях
                            или ошибках, будь то рекламные публикации, спам или оскорбительное
                            поведение в комментариях.
                        </p>
                    </li>
                </ol>
            </li>
            </ol>


        </div>
    </div>
</div>
{% endblock %}

