{% extends 'gorod/layout.html' %}

{% load staticfiles %}
{% load user %}
{% load humanize %}

{% block meta_title %}{{city.title}} - Вопросы и ответы{% endblock %}

{% block meta_description %}{{city.title}} - Вопросы и ответы{% endblock %}

{% block content %}
<div class="b-hub__wrapper">
    <h4 class="b-hub__title">Вопросы и ответы</h4>
    <div class="b-hub">
        <div class="b-hub__content">
            <div class="b-hubquestion-add">
                {% if user.is_authenticated %}
                    <script src="{% static 'gorod/js/hub.js' %}" ></script>
                    <script>
                        $(function(){
                            var question = new window.HubQuestion();
                        });
                    </script>
                    <form class="b-hubquestion-add__form b-beauty-form" action="{% url 'gorod:hub-question-add' city_name %}" method="POST">
                        {% csrf_token %}
                        <p class="error"></p>
                        <div class="b-form__title">
                            {{ question_form.question }}
                        </div>
                        <div class="b-form__text">
                            {{ question_form.description }}
                        </div>
                        <div class="b-form__category">
                            <span>Категория:</span>
                            {{ question_form.category }}
                        </div>
                        <div class="b-form__submit">
                            <input type="submit" value="Задать вопрос" />
                        </div>
                    </form>
                {% else %}
                    <div class="b-hubquestion-add__auth">
                        <a href="" class="b-hubquestion-add__login-link login-link">Авторизуйтесь</a>, если вы хотите задать вопрос!
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<div class="b-hub-questions__wrapper">
    <ul class="b-hub-questions">
        {% for question in questions %}
            <li class="b-hub-questions__item">
                <div class="b-hub-questions-item__content">
                    <a class="b-hub-questions-item__link" href="{% url 'gorod:hub-question' city.name question.id %}">{{ question.question }}</a>
                    <div class="b-hub-questions-item__info">
                        <span class="b-hub-questions-item__category">{{ question.category }}</span>
                        <span class="b-hub-questions-item__date">{{ question.add_date|naturalday }}</span>
                        {% if question.answer_cnt %}
                            <span class="b-hub-questions-item__comments"><i></i>
                                {{ question.answer_cnt }}
                            </span>
                        {% endif %}
                        {% user question.user %}
                        <div class="clear"></div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

