{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}{{city.title}} - Полезная информация{% endblock %}

{% block meta_description %}{{city.title}} - Полезная информация{% endblock %}

{% block body-class %}body_hub{% endblock %}

{% block content %}
    <div class="b-hub">
        <h4 class="b-hub__title">Вопросы и ответы</h4>
        <ul class="b-hub__questions">
            {% for question in questions %}
                <li class="b-hub__questions-item">
                    <a href="{% url 'gorod:hub-question' city.name question.id %}">
                        {{ question.question }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

