{% extends 'gorod/layout.html' %}

{% load staticfiles %}
{% load humanize %}
{% load user %}

{% block meta_title %}{{city.title}} - {{ question.question }}{% endblock %}

{% block meta_description %}{{city.title}} - {{ question.question }}{% endblock %}

{% block content %}
<div class="b-hub-item__wrapper">
    <div class="b-hub-item">
        <div class="b-hub-question">
            <div class="b-hub-item__content">
                <div class="b-hub-item__info">
                    <span>Вопрос</span>
                    <div class="b-hub-item__date">{{ question.add_date|naturalday }}</div>
                </div>
                <div class="b-hub-item__author">
                    {% user question.user %}
                </div>
                <div class="clear"></div>
                <h2 class="b-hub-question__title">
                    {{ question.question }}
                </h2>
                <div class="b-hub-question__text">
                    {% autoescape off %}
                        {{ question.description }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
            <ul class="b-hub-item__answers">
                {% for answer in answers %}
                    <li class="b-hub-answer">
                        <div class="b-hub-item__content">
                            <div class="b-hub-item__info">
                                <span>Ответ</span>
                                <div class="b-hub-item__date">{{ answer.add_date|naturalday }}</div>
                            </div>
                            <div class="b-hub-item__author">
                                {%  user answer.user %}
                            </div>
                            <div class="clear"></div>
                            <div class="b-hub-answer__text">
                                {% autoescape off %}
                                    {{ answer.text }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>  
        
            {% if other_questions %}
                <noindex>
                    <div class="b-hub-item__other b-hub">
                        <h1 class="b-hub__title">Другие вопросы</h1>
                        <ul class="b-hub__questions">
                            {% for question in other_questions %}
                                <li class="b-hub__questions-item">
                                    <a href="{% url 'gorod:hub-question' city.name question.id %}">
                                        {{ question.question }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </noindex>
            {% endif %} 
    </div>
</div>
{% endblock %}

