{% extends 'gorod/layout.html' %}

{% load staticfiles %}
{% load humanize %}
{% load user %}

{% block meta_title %}{{city.title}} - {{ question.question }}{% endblock %}

{% block meta_description %}{{city.title}} - {{ question.question }}{% endblock %}

{% block content %}
<div class="b-hub-item__wrapper">
    <h4 class="b-hub__title"><a href="{% url 'gorod:hub' city.name %}">Вопросы и ответы</a></h4>
    <div class="b-hub-item">
        <div class="b-hub-item__content">
            <div class="b-hub-question">
            
                <div class="b-hub-question__info">
                    <span>{{ question.category }}</span>
                    <div class="b-hub-question__date">{{ question.add_date|naturalday }}</div>
                </div>
                <div class="b-hub-question__author">
                    {% user question.user %}
                </div>
                <div class="clear"></div>
                <h2 class="b-hub-question__title">
                    {{ question.question }}
                </h2>

                {% if question.picture and question.picture.url %}
                    <img class="b-hub-question__picture" src="{{question.picture.url}}" />
                {% endif %}

                <div class="b-hub-question__text">
                    {% autoescape off %}
                        {{ question.description }}
                    {% endautoescape %}
                </div>

                <div class="b-hub-question__share">
                    {% include "gorod/incl/_share.html" %}
                </div>
                <div class="b-hub-question__complaint">
                    <a href="mailto:hola@gorod.io"><i></i>Пожаловаться</a>
                </div>
                <div class="clear"></div>
            </div>
            
            {% if answers %}
                <ul class="b-hub-item__answers">
                    {% for answer in answers %}
                        <li class="b-hubanswer">
                            <div class="b-hubanswer__user">
                                {%  user answer.user %}
                            </div>
                            <div class="b-hubanswer__date">{{ answer.add_date|naturalday }}</div>
                            <div class="clear"></div>
                            <div class="b-hubanswer__text">
                                {% autoescape off %}
                                    {{ answer.text }}
                                {% endautoescape %}
                            </div>
                            <div class="clear"></div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="b-hubanswer__add">
                {% if user.is_authenticated %}
                    <script src="{% static 'gorod/js/hub.js' %}" ></script>
                    <script>
                        $(function(){
                            var answer = new window.HubAnswer();
                        });
                    </script>
                    <form class="b-hubanswer-add__form" action="{% url 'gorod:hub-question-add-answer' city_name question.id %}" method="POST">
                        {% csrf_token %}
                        <p class="error"></p>
                        <div class="b-hubanswer__user">
                            {% user user %}
                        </div>
                        {{ answer_form.question }}
                        <textarea cols="40" id="id_text" name="text" placeholder="Введите ответ на вопрос" rows="10"></textarea>
                        <p>
                            <input type="submit" value="Ответить" />
                        </p>
                    </form>
                {% else %}
                    <p><a href="" class="b-hubanswer-add__login-link login-link">Авторизуйтесь</a>, чтобы ответить на вопрос!</p>
                {% endif %}

            </div>
        </div>
        
    </div>
</div>
{% endblock %}

