{% extends 'gorod/layout.html' %}

{% load staticfiles %}
{% load humanize %}
{% load user %}

{% block meta_title %}{{city.title}} - {{ question.question }}{% endblock %}

{% block meta_description %}{{city.title}} - {{ question.question }}{% endblock %}

{% block content %}
<div class="b-hub-item__wrapper">
    <h4 class="b-hub__title"><a href="{% url 'gorod:hub' city.name %}">Вопросы и ответы</a></h4>
    <div class="b-hub-item">
        <div class="b-hub-question">
            <div class="b-hub-item__content">
                <div class="b-hub-item__info">
                    <span>{{ question.category }}</span>
                    <div class="b-hub-item__date">{{ question.add_date|naturalday }}</div>
                </div>
                <div class="b-hub-item__author">
                    {% user question.user %}
                </div>
                <div class="clear"></div>
                <h2 class="b-hub-question__title">
                    {{ question.question }}
                </h2>

                {% if question.picture and question.picture.url %}
                    <img class="b-hub-question__picture" src="{{question.picture.url}}" />
                {% endif %}

                <div class="b-hub-question__text">
                    {% autoescape off %}
                        {{ question.description }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <ul class="b-hub-item__answers">
            {% for answer in answers %}
                <li class="b-hub-answer">
                    <div class="b-hub-item__content">
                        <div class="b-hub-item__info">
                            <span>Ответ</span>
                            <div class="b-hub-item__date">{{ answer.add_date|naturalday }}</div>
                        </div>
                        <div class="b-hub-item__author">
                            {%  user answer.user %}
                        </div>
                        <div class="clear"></div>
                        {% if answer.picture and answer.picture.url %}
                            <img class="b-hub-answer__picture" src="{{answer.picture.url}}" />
                        {% endif %}
                        <div class="b-hub-answer__text">
                            {% autoescape off %}
                                {{ answer.text }}
                            {% endautoescape %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="b-hubanswer-add">
            {% if user.is_authenticated %}
                <form class="b-hubanswer-add__form" action="" method="POST">
                    {% csrf_token %}
                    {{ answer_form.question }}
                    <textarea cols="40" id="id_text" name="text" placeholder="Введите ответ на вопрос" rows="10"></textarea>
                    <input type="submit" value="Ответить" />
                </form>
            {% else %}
                <p><a href="" class="b-hubanswer-add__login-link">Авторизуйтесь</a>, чтобы ответить на вопрос!</p>
            {% endif %}

        </div>
        
        {% if other_questions %}
            <noindex>
                <div class="b-hub-item__other b-hub">
                    <h1 class="b-hub__title">Другие вопросы</h1>
                    <ul class="b-hub__questions">
                        {% for question in other_questions %}
                            <li class="b-hub__questions-item">
                                <a href="{% url 'gorod:hub-question' city.name question.id %}">
                                    {{ question.question }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </noindex>
        {% endif %}
    </div>
</div>
{% endblock %}

