{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}
    Городские сообщества. Платформа для активных жителей больших и малых городов
{% endblock %}

{% block meta_description %}
    Городские сообщения. Сайт и мобильное приложение для вашего города.
{% endblock %}

{% block body-class %}body_main{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="b-index">
    <div class="b-index-header">
        <div class="b-index-header__content">
            <span class="b-index-header__city">ГОРОДСКИЕ СООБЩЕСТВА</span>
            <div class="b-index-header__paltform">Платформа для создания и управления городскими сайтами</div>
            <p class="b-index-header__text"></p>
        </div>
    </div>    
    <div class="b-index-cities">
        <div class="b-index-cities__content">
            <h4>Примеры городов</h4>
            <ul class="b-index-cities__list">
                {% for city in cities %}
                    <li class="b-index-cities__item">
                        <a href="{% url 'gorod:city-main-page' city.name %}">
                            <span class="b-index-cities__title">{{ city.title }}</span>
                            <span class="b-index-cities__region">{{ city.region }}</span>     
                        </a>      
                    </li>
                {% endfor %}
                <div class="clear"></div>
            </ul>
            <div class="b-index-cities__add">
                <h5>Как подключить город?</h5>
                <p>Активные жители и представители городских сообществ могут подать заявку на использование платформы для своего города</p>
                <a href="mailto:hola@gorod.io">Подать заявку</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>   


    <div class="b-index-info">
        <div class="b-index-info__content">
            <div class="b-index-info__row">
                <h4>Возможности для жителей</h4>
                <div class="b-index-info__item b-index-info__item_1">
                    <div class="b-index-info__img"></div>
                    <div class="b-index-info__heading">Организация местного СМИ</div>
                    <div class="b-index-info__text">Используйте онлайн-редактор <br />для публикации местных новостей <br/>и событий</div>
                </div>
                <div class="b-index-info__item b-index-info__item_2">
                    <div class="b-index-info__img"></div>
                    <div class="b-index-info__heading">Площадка для городского <br />сообщества</div>
                    <div class="b-index-info__text">Используя сервис, объединяйтесь <br />для решения городских задач</div>
                </div>
                <div class="b-index-info__item b-index-info__item_3">
                    <div class="b-index-info__img"></div>
                    <div class="b-index-info__heading">Гиперлокальное <br />мобильное приложение</div>
                    <div class="b-index-info__text">В разработке</div>
                </div>
            </div>
            <div class="b-index-info__row">
                <h4>ДЕТАЛИ КОНСТРУКТОРА</h4>
                <div class="b-index-info__item b-index-info__item_4">
                    <div class="b-index-info__img"></div>
                    <div class="b-index-info__heading">ЛЕНТА ГОРОДА</div>
                    <div class="b-index-info__text">Публикация новостей, фото, <br />анонсов мероприятий</div>
                </div>
                <div class="b-index-info__item b-index-info__item_5">
                    <div class="b-index-info__img"></div>
                    <div class="b-index-info__heading">ОРГАНИЗАЦИИ</div>
                    <div class="b-index-info__text">Бизнес становится участником <br />городского сообщества и может <br />продвигаь свои услуги</div>
                </div>
                <div class="b-index-info__item b-index-info__item_6">
                    <div class="b-index-info__img"></div>
                    <div class="b-index-info__heading">Вопросы и ответы</div>
                    <div class="b-index-info__text">Жители могут задавать вопросы <br />и оставлять ответы, создавая <br />городскую базу данных полезной <br />информации</div>
                </div>
            </div>
            <div class="b-index-info__row">
                <h4>ФИЧИ</h4>
                <div class="b-index-info__item b-index-info__item_7">
                    <div class="b-index-info__img"></div>
                    <div class="b-index-info__heading">Быстрая авторизация</div>
                    <div class="b-index-info__text">Авторизация с помощью <br />социальных сетей за несколько <br />секунд</div>
                </div>
                <div class="b-index-info__item b-index-info__item_8">
                    <div class="b-index-info__img"></div>
                    <div class="b-index-info__heading">Удобный онлайн-редактор</div>
                    <div class="b-index-info__text">Редактор для быстрой публикации <br />новостей и афиши</div>
                </div>
                <div class="b-index-info__item b-index-info__item_9">
                    <div class="b-index-info__img"></div>
                    <div class="b-index-info__heading">Всё настроено</div>
                    <div class="b-index-info__text">Не требуется домен, хостинг <br />и работа программистов</div>
                </div>
            </div>

            <div class="b-index-info__house"></div>
        </div>


    </div>
    <div class="b-index-footer">
        <a target="_blank" href="http://localhub.tumblr.com/">БЛОГ</a>
        <a target="_blank" href="{% url 'help' 'help' %}" rel="nofollow">ПОМОЩЬ</a>
        <a target="_blank" href="{% url 'license' 'license' %}" rel="nofollow">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</a>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
