{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}
    Gorod.io - Гиперлокальная платформа для малых городов
{% endblock %}

{% block meta_description %}
    Gorod.io - Гиперлокальная платформа для малых городов
{% endblock %}

{% block meta_additional %}<meta name="viewport" content="width=1200" />{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="b-index">
    <div class="b-index-top">
        <div class="b-index__container">
            <a href="#" class="b-index-top__logo"><img src="{% static 'gorod/img/logo.png' %}"></a>
            <div class="clear"></div>
            <div class="b-index-top__column-wrapper">
                <div class="b-index-top__column">
                    <h2>Гиперлокальная платформа<br> для <b>малых городов России</b></h2>
                    <img src="{% static 'gorod/img/index-map.png' %}" class="b-index-top__map-img" />
                    <p>В России свыше 1000 населенных пунктов с населением меньше 200 тыс. человек. В этих городах и поселках живут люди. Они учатся, работают, участвуют в соревнованиях, конкурсах и жизни своего города. Цель нашей платформы &ndash; предоставить удобный инструмент общения для жителей этих городов.</p>
                </div>
                <div class="b-index-top__column">
                    <h4>Платформа + сообщество <br>+ локальные ресурсы</h4>
                    <ul>
                        <li>быстрая публикация местных новостей, событий, объявлений</li>
                        <li>консолидация информации о местных организациях и услугах</li>
                        <li>площадка для общения и совместных действия для жителей города или поселка</li>
                    </ul>
                    <img src="{% static 'gorod/img/index-icons.png' %}" class="b-index-top__icons" />

                    <h4>Лента города</h4>
                    <p>События, афиша, фотографии города, опубликованные местными жителями</p>

                    <h4>Каталог организаций города</h4>
                    <p>Информация об организациях, услугах, контактная<br> информация</p>
                </div>
                <div class="b-index-top__column">
                    <h4>Как это всё работает?</h4>
                    <p>Местные жители, используя сайт или мобильное приложение, могут легко и быстро публиковать местные новости, информацию о мероприятиях, важных городских событиях. Это полноценный сайт города с набором всех необходимых инструментов для общения местных жителей.</p>

                    <h4>У нашего города уже есть сайт.<br> Зачем ещё один?</h4>
                    <p>Городские сайты создаются энтузиастами, которым приходится решать много технических вопросов: оплата хостинга, настройка и модерация форума. Довольно частно найти что-то полезное и свежее на таких сайтах не представляется возможным.<br> Цель нашей платформы &ndash; дать весь арсенал средств для успешного взаимодействия местных жителей.</p>

                    <h4>Как мне начать использовать<br> платформу для своего города?</h4>
                    <p>Нужно написать письмо по адресу <a href="mailto:hola@gorod.io">hola@gorod.io</a></p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="b-index-footer">
        <div class="b-index__container">
            <h5>Выберите город:</h5>
            <ul class="b-index-footer__list">
                {% for city in cities %}
                    <li>
                        <a href="{% url 'gorod:city_main_page' city.name %}">{{ city.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
