{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>{% block meta_title %}Gorod.io{% endblock %}</title>
    <meta name="robots" content="all" />
    <meta name="author" content="gorod.io" />
    <meta name="copyright" content="Gorod.io" />
    <meta name="distribution" content="global" />
    <link rel="shortcut icon" href="{% static 'gorod/img/favicon.ico' %}"/>
    <meta name="keywords" content="{% block meta_keywords %}gorod.io{% endblock %}" />
    <meta name="description" content="{% block meta_description %}gorod.io{% endblock %}" />    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block meta_additional %}<meta name="viewport" content="width=device-width" />{% endblock %}

    {% include "gorod/incl/_static.html" %}
</head>

<body>
    {% block header %}
        {% include "gorod/incl/_header.html" %}
    {% endblock %}

    <div class="b-js-content">
        {% block content %}{% endblock %}
    </div>


    {% block footer %}
        {% include "gorod/incl/_footer.html" %}
    {% endblock %}
    
    {% include "gorod/incl/_popup.html" %}
    {% include "gorod/incl/_counters.html" %}

</body>

</html>
