{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}{{ city.title }} — организации{% endblock %}

{% block meta_description %}Новости {{ city.title }}, каталог организаций, полезная информация{% endblock %}

{% block body-class %}body_organizations{% endblock %}

{% block content %}
    <div class="b-orgs">
        <h4 class="b-orgs__title">Организации</h4>
        <ul class="b-orgs__list">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>

            {% for organization in organizations %}
                <li class="b-orgs__item">
                    <span>{{ organization.category }}</span>
                    <a href="{% url 'gorod:organization' city.name organization.id %}">{{ organization.name }}</a>                 
                </li>
            {% endfor %}

        </ul>
        <div class="clear"></div>

    </div>
{% endblock %}

