{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}{{ city.title }} - Организации{% endblock %}

{% block meta_description %}{{ city.title }} - Организации{% endblock %}

{% block meta_additional %}<meta name="viewport" content="width=device-width" />{% endblock %}


{% block content %}
    <div class="b-orgs">
        <ul class="b-orgs__list">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>

            {% for organization in organizations %}
                <li class="b-orgs__item">
                    <a href="{% url 'gorod:organization' organization.id %}">{{ organization.name }}</a>                 
                </li>
            {% endfor %}

        </ul>
        <div class="clear"></div>

    </div>
{% endblock %}

