{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}{{ organization.name }} - {{city.title}}{% endblock %}

{% block meta_description %}{{ organization.name }} - {{city.title}}{% endblock %}

{% block content %}
    <div class="b-organization">
        
        {% if request.user.is_superuser %}
            <a class="edit-link" target="_blank" href="{% url 'admin:gorod_organization_change' organization.id %}">Редактировать</a>
        {% endif %}
        
        {% if organization.logo %}
            <img class="b-organization__logo" src="{{ organization.logo.url}}" title="{{ organization.name}}" />
        {% endif %}

        <h2 class="b-organization__name">{{ organization.name }}</h2>

        {% if organization.phone or organization.web_site %}
            <div class="b-organization__info">
                {% if organization.phone %}
                    <span>{{ organization.phone }}</span>
                {% endif %}

                {% if organization.web_site %}
                    <a href="{{ organization.web_site }}"  target="blank">{{ organization.web_site }}</a>
                {% endif %}
            </div>
        {% endif %}

        {% if organization.address %}
            <div class="b-organization__address">{{ organization.address }}</div>
        {% endif %}

        {% if organization.description %}
            <div class="b-organization__description">
                {% autoescape off %}
                    {{ organization.description }} 
                {% endautoescape %} 
            </div>
        {% endif %}
 

        {% if organization.map_link %}
            <div class="b-organization__map">
                <!-- Yandex map-->
                <script type="text/javascript" 
                    charset="utf-8" 
                    src="{{ organization.map_link }}">
                </script>
            </div>
        {% endif %}

        
    </div>
{% endblock %}

