{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}{{city.title}} - Оплата услуг{% endblock %}

{% block meta_description %}Информация об оплате услуга в городе {{city.title}}{% endblock %}

{% block body-class %}body_payments{% endblock %}

{% block content %}
    <div class="b-payments">
        <h4 class="b-payments__title">Оплата услуг</h4>
        {% if not payments %}
            <p class="b-payments__empty">К сожалению, модуль временно недоступен. Приносим извенения за предоставленные неудобства.</p>
        {% else %}
            <ul class="b-payments__list">
                {% for payment in payments %}
                    <li class="b-payments__item">
                        <a href="{{ payment.url }}" target="_blank">
                            {{ payment.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

