<h1>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1>
<p>
Настоящее Пользовательское соглашение (далее «Соглашение») определяет порядок использования данного вебсайта (далее «Сайт») физическим лицом, осуществляющим поиск и распространение информации на данном ресурсе.
Информационный ресурс «Gorod.io» не является средством массовой информации, Администрация ресурса не осуществляет редактирование размещаемой информации и не несёт ответственность за её содержание.
Пользователь, разместивший информацию на ресурсе «Gorod.io», самостоятельно представляет и защищает свои интересы, возникающие в связи с размещением указанной информации, в отношениях с третьими лицами.
</p>
<ol>
    <li>
        <h2>СТОРОНЫ СОГЛАШЕНИЯ</h2>
        <p>
        Администрация информационного ресурса «Gorod.io», расположенного на доменном имени http://gorod.io, в дальнейшем Администрация, и физическое лицо, размещающее информацию на данном ресурсе, в дальнейшем Пользователь, заключили настоящее Пользовательское соглашение, в дальнейшем Соглашение, о нижеследующем.
        </p>
    </li>
    <li>
        <h2>ПРЕДМЕТ СОГЛАШЕНИЯ</h2>
        <p>
            Администрация предоставляет Пользователю право на размещение на информационном ресурсе «Gorod.io» следующей информации:
        </p>
        <ul>
            <li>текстовой информации;</li>
            <li>медийной информации в формате, установленном Администрацией;</li>
            <li>ссылок на материалы, размещённые на данном информационном ресурсе, либо на других информационных ресурсах.</li>
        </ul>
    </li>
    <li>
        <h2>ПРАВА И ОБЯЗАННОСТИ СТОРОН</h2>
        <p>ПОЛЬЗОВАТЕЛЬ ИМЕЕТ ПРАВО:</p>
        <ul>
            <li>
                свободно осуществлять поиск, получение, передачу, производство и распространение информации на информационном ресурсе «Gorod.io» любым законным способом;
            </li>
            <li>
                комментировать предоставленную иными Пользователями информацию;
            </li>
            <li>
                в любой момент потребовать от Администрации скрытия от прочих пользователей информационного ресурса «Gorod.io» всей предоставленной им информации, а также собственной учетной записи Пользователя;
            </li>
        </ul>
        <p>АДМИНИСТРАЦИЯ ИМЕЕТ ПРАВО:</p>
        <ul>
            <li>
                по своему усмотрению создавать, изменять, отменять Правила пользования информационным ресурсом «Gorod.io»;
            </li>
            <li>
                удалить информацию, размещённую Пользователем, нарушающую авторские и/или иные права интеллектуальной собственности законных правообладателей;
            </li>
            <li>
                удалить учётную запись Пользователя;
            </li>
            <li>
                в случае размещения Пользователем комментариев, содержащих ненормативную лексику, спам, пропаганду жестокости по отношению к отдельным группам населения, животным и т.д., а также ссылки на подобную информацию, удалять подобные сообщения без объяснения причин;
            </li>
            <li>
                отказать в регистрации учётной записи Пользователю, учётная запись которого была ранее удалена за нарушение условий Соглашения.
            </li>
        </ul>
        <p>ПОЛЬЗОВАТЕЛЬ ОБЯЗУЕТСЯ:</p>
        <ul>
            <li>
                обеспечить достоверность предоставляемой информации;
            </li>
            <li>
                при распространении информации, создателем которой Пользователь не является, обеспечить включение в её состав достоверных сведений об обладателе этой информации или об ином лице, распространяющем информацию, в форме и объёме, которые достаточны для идентификации такого лица;
            </li>
            <li>
                не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность;
            </li>
            <li>
                не нарушать работоспособность сайта путём размещения информации, содержащей вирусы, создания дополнительной нагрузки на сервер, применением программ, не обусловленных функциональным содержанием информационного ресурса и иными способами.
            </li>
        </ul>
        <p>АДМИНИСТРАЦИЯ ОБЯЗУЕТСЯ:</p>
        <ul>
            <li>
                осуществлять защиту учетной записи Пользователя от неправомерного доступа, уничтожения размещённой Пользователем информации, а также от иных неправомерных действий в отношении такой информации всеми находящимися в её распоряжении техническими средствами;
            </li>
            <li>
                в случае размещения Пользователем информации, распространение которой ограничено или запрещено федеральными законами, либо вынести Пользователю предупреждение и удалить такую информацию, либо удалить учётную запись Пользователя, либо применить одну или несколько мер одновременно;
            </li>
            <li>
                предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом.
            </li>
        </ul>
    </li>
    <li>
        <h2>ИНЫЕ УСЛОВИЯ</h2>
        <ul>
            <li>
                Пользователь осознаёт, что размещённая им информация может быть использована поисковыми или другими автоматизированными сервисами и иными способами, и соглашается с этим.
            </li>
            <li>
                Администрация не проверяет содержимое всех сайтов, на которые имеются ссылки с этого Сайта, и не несет ответственности за содержание или действия любых других сайтов, на которые ссылается этот Сайт.
            </li>
            <li>
                В случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса.
            </li>
        </ul>
    </li>
    <li>
        <h2>ОТВЕТСТВЕННОСТЬ СТОРОН</h2>
        <p>
            В случае, если Пользователем была размещена информация, распространение которой ограничивается или запрещается федеральными законами, нарушает авторское или иное защищаемое законом право, всю полноту ответственности за её размещение несёт Пользователь.
        </p>
    </li>
    <li>
        <h2>ВРЕМЯ И УСЛОВИЯ ДЕЙСТВИЯ СОГЛАШЕНИЯ</h2>
        <p>
            Настоящее соглашение вступает в силу с момента авторизации Пользователем на информационном ресурсе «Gorod.io»» и распространяется на неопределённый срок.
            Администрация имеет право на одностороннее изменение положений Соглашения. Пользователю стоит периодически проверять данную страницу и следить за обновлениями и правками, которые могут вноситься в условия Соглашения.
        </p>
    </li>
</ol>