{% extends 'gorod/layout.html' %}

{% load staticfiles %}

{% block meta_title %}
    {{ flatpage.title }}
{% endblock %}

{% block meta_description %}
    Правила пользования сервисом gorod.io
{% endblock %}

{% block header %}
    <div class="b-header">
	    <div class="b-header__content">
            <span class="b-header__city b-header__city_not-hover">Пользовательское соглашение</span>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="b-license__wrapper">
    <div class="b-license">
        <div class="b-license__content">
            {{ flatpage.content }}
        </div>
    </div>
</div>
{% endblock %}

