* */1 * * * /home/g/gorodin/gorod.in/manage.py donc_recount --type='questions' >/dev/null
* */1 * * * /home/g/gorodin/gorod.in/manage.py donc_recount --type='articles' >/dev/null
*/15 * * * * /home/g/gorodin/gorod.in/manage.py donc_recount --type='groups' >/dev/null