south
django-ckeditor
django-mptt
yaml
pickle
mysqldb
django-phonenumber-field
easy-thumbnails
python-social-auth
django-simple-captcha
wadofstuff-django-serializers
django-smart-selects
django_mptt_admin
pymorphy2
logging
django-rest-framework