.b-article__wrapper{
	padding:30px 30px 0;
	background: #f3f3f3;
}
.b-article{
	background: #fff;

}

.b-article__content{
	max-width: 650px;
	margin: auto;	
	padding: 40px 30px 50px;
}
.b-article__info{
	
	.edit-link{
		float: right;
		text-align: right;
		padding-top: 6px;
	}
}
.b-article__author{
	float: right;
	text-align: right;
}
.b-article__title{
	margin:45px 0 30px; 
	font-weight: 600;
	font-size: 26px;

	color:#000;
} 

.b-article__descr{
	float: left;
	line-height: 14px;

}
.b-article__rubric{
	color:#666666;
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;

	.b-article_event &{
		color:$yellow-color;
	}
	.b-article_message &{
		color: $green-color;
	}
	.b-article_photo &{
		color:$violet-color;
	}
}
.b-article__date{
	color:$gray-color-light;
	font-size: 11px;
	display: block;
	padding-top: 6px;

}
.b-article__picture{
	max-width:100% !important;
	margin: auto;
	display: block;
}
.b-article__text{
	font-size: 16px;
	line-height: 25px;
	color:#000;

	p{
		margin:25px 0;
	}
	img{
		width:100% !important;
		height:auto !important;
	}
	ul{
		list-style-type: disc;
		padding: 0 0 0 20px;
	}
	ol{
		list-style-type: decimal;
		padding: 0 0 0 20px;
	}
	a{
		color:#1188c0;
		&:hover{
			color:#0b587c;
		}
	}
}
.b-article__service{
	margin: 40px 0 0;
}
.b-article__share{
	float: left;
	&>div{
		margin-top: 5px;
		margin-left: -4px;
	}
}
.b-article__share-text{
	font-size: 14px;
	font-weight: 300;
}
.b-article__complaint{
	float: right;
	padding-top: 28px;
	a{
		color:$gray-color;
		font-size: 11px;	
		line-height: 18px;
		text-transform: uppercase;
		font-weight: 600;
		text-decoration: none;
		i{
			@include inline-block;
			width:13px;
			height:18px;
			margin-right: 5px;
			background: url(../img/sprite.png) no-repeat 0 -175px;
			content: "";
		}
	}
}
@media screen and (max-width: 630px) { 
	
	.b-article__wrapper{
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	.b-article__author{
		float: left;
		clear: left;
		margin-top: 10px;
	}

}