.b-article{
	padding:60px 30px;
	max-width:650px;
	margin: auto;
}
.b-article__title{
	margin:60px 0 30px; 
	font-weight: 500;
	font-size: 26px;

	color:#444;
} 
.b-article__author{
	color:#aaa;
	font-size: 14px;
}
.b-article__date{
	color:#333;
	font-size: 14px;

}
.b-article__picture{
	width:100% !important;
}
.b-article__text{
	font-size: 16px;
	line-height: 25px;
	color:#444;

	p{
		margin:25px 0;
	}
	img{
		width:100% !important;
		height:auto !important;
	}
}