.b-article__wrapper{
	padding:30px 30px;
	background: #f3f3f3;
}
.b-article{
	background: #fff;

}
.b-article__content{
	max-width: 650px;
	margin: auto;	
	padding: 40px 30px 100px;
}

.b-article__title{
	margin:45px 0 30px; 
	font-weight: 600;
	font-size: 26px;

	color:#000;
} 
.b-article__author{
	float: right;
	text-align: right;
}
.b-article__author-name{
	color:#666666;
	font-size: 14px;
	text-decoration: none;
}
.b-article__avatar{
	@include inline-block;
	vertical-align: middle;
	overflow: hidden;
	border-radius: 18px;
	margin-right: 3px;

	img{
		width:35px;
		height:35px;
		display: block;
	}
}
.b-article__descr{
	float: left;
	text-align: right;
	padding-top: 4px;

}
.b-article__rubric{
	color:#666666;
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	margin-right: 10px;
	text-decoration: none;

	.b-article_event &{
		color:$yellow-color;
	}
	.b-article_message &{
		color: $mareen-color;
	}
	.b-article_photo &{
		color:$violet-color;
	}
}
.b-article__date{
	color:#666666;
	font-size: 12px;

}
.b-article__picture{
	max-width:100% !important;
	margin: auto;
	display: block;
}
.b-article__text{
	font-size: 16px;
	line-height: 25px;
	color:#000;

	p{
		margin:25px 0;
	}
	img{
		width:100% !important;
		height:auto !important;
	}
	ul{
		list-style-type: disc;
		padding: 0 0 0 20px;
	}
	ol{
		list-style-type: decimal;
		padding: 0 0 0 20px;
	}
}
.b-article__share{
	margin: 40px 0 0;
}
@media screen and (max-width: 630px) { 
	
	.b-article__wrapper{
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	.b-article__author{
		float: left;
		clear: left;
		margin-top: 10px;
	}

}