.b-city-info{
	padding:60px 30px;
	width:650px;
	margin: auto;
	color:#444;
	font-size: 14px;
	position: relative;

	.edit-link{
		@include inline-block;
		position: absolute;
		top:30px;
		left:30px;
	}
}
