.b-welcome__wrapper{
	padding:30px 30px 30px;
	background: #f3f3f3;
}

.b-welcome__content{
	max-width: 650px;
	margin: auto;	
	padding: 40px 30px 50px;
}
.b-welcome{
	background: #fff;
	min-height: 650px;

}
.b-welcome__title{
	color:$gray-color-dark;
}
.b-welcome__text{
	@include default-text();
}
@media screen and (max-width: 630px) { 
	.b-welcome__wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
}