.b-city-welcome{
	padding:60px 30px;
	max-width:650px;
	margin: auto;
	color:#444;
	font-size: 14px;
	position: relative;
	min-height: 450px;

	img{
		width: 100% !important;
		height: auto !important;
	}

	.edit-link{
		@include inline-block;
		position: absolute;
		top:30px;
		left:30px;
	}
}
.b-city-welcome__text{
	ul{
		list-style-type: disc;
		padding: 0 0 0 20px;
	}
	ol{
		list-style-type: decimal;
		padding: 0 0 0 20px;
	}
	a{
		color:#005fc5;
	}
}
@media screen and (max-width: 630px) { 
	.b-city-welcome{
		padding-left: 10px;
		padding-right: 10px;
	}
}