.b-city-info{
	padding:60px 30px;
	max-width:650px;
	margin: auto;
	color:#000;
	font-size: 14px;
	position: relative;
	min-height: 450px;

	&.b-city-info-question{
		min-height: 150px;
	}
	&>h3{
		color:#000;
		margin: 0;
		text-transform: uppercase;
	}
	img{
		width: 100% !important;
		height: auto !important;
	}

	.edit-link{
		@include inline-block;
		position: absolute;
		top:30px;
		left:30px;
	}
}
.b-city-info__title{
	margin: 0;
	text-align: center;
	padding: 38px 30px;
	font-weight: 100;
	font-size: 44px;
	color:#fff;
	background: $mareen-color;
	letter-spacing: 7px;
	text-transform: uppercase;
}

.b-city-info__questions{
	a{
		color:$gray-color;
		text-decoration: none;
		font-size: 15px;
	}
}
.b-city-info__question{
	margin: 20px 0;
}
.b-city-info__question-title{
	color:#000;
	margin: 0 0 20px;
	font-size: 26px;
}
.b-city-info__question-answer{
	font-size: 16px;
	ul{
		list-style-type: disc;
		padding: 0 0 0 20px;
	}
	ol{
		list-style-type: decimal;
		padding: 0 0 0 20px;
	}
}
.b-city-info__questions-other-wrapper{
	margin: 40px 0 60px;
	border-top: 1px solid #eee;
}
.b-city-info__questions-other{
	padding:40px 30px;
	max-width:650px;
	margin: auto;
	color:#444;
	font-size: 14px;
	min-height: 200px;
	&>h3{
		color:#000;
		margin: 0;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 630px) { 
	.b-city-info, .b-city-info__questions-other{
		padding-left: 10px;
		padding-right: 10px;
	}

}