.b-comments{
    border-top: 1px solid $gray-color-light;
	padding: 20px 35px;
}
.b-comments__count{
	color:$gray-color;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	cursor: default;
}
.b-comments__list {
	margin: 20px 0 0;
}
.b-comment {
	margin: 15px auto 25px;
}
.b-comment__user {
	float: left;
	.b-user__name{
		@include inline-block(top);
		margin-top: 2px;
	}
}
.b-comment__date{
	padding-left: 10px;
	font-size: 12px;
	color:$gray-color;
	@include inline-block(top);
	margin-top: 2px;
	float: left;
}

.b-comment__text {
    font-size: 12px;
	color:$gray-color-dark;
	margin: -13px 0 0 43px;
	float: left;
}

#id_honeypot {
    display: none;
}
.b-comments__add-form{
    textarea{
    	border: none;
    	height:60px;
    	resize:none;
    	width: 100%;
    	padding: 5px;
    	@include box-sizing(border-box);
    	font-size: 14px;
    	color:$gray-color;
    	font-weight: 300;
    	background: #f3f3f3;
    	margin: 0 0 10px;

    }
    p{
    	margin: 0;
    }
    .btn{
    	float: right;
    }
}
.b-comments-add__login-link{
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	color:$green-color;
	text-decoration: none;
	&:hover{
		color:$green-color-dark;
	}
}
.b-comments__add .error{
    color: red;
}