.b-comments{
}

.b-comments__list {
	margin: 20px 0;
}
.b-comment {
	padding: 20px 0;
    border-top: 1px solid #f4f4f4;
}
.b-comment__user {
    float: left;
}

.b-comment__date {
	@include inline-block;
	padding-top: 10px;
    font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	color:$gray-color-light;
	margin-left: 12px;

}

.b-comment__text {
    font-size: 12px;
	color:$gray-color-dark;
	margin: 0;
}

#id_honeypot {
    display: none;
}
.b-comments__add {
	font-size: 14px;
	color:$gray-color-dark;
	margin: 0;
	padding-top: 15px;
    border-top: 1px solid #f4f4f4;
    
    textarea{
    	margin-left: 40px;
    	border: none;
    	height:80px;
    	resize:none;
    	width: 90%;
    	font-size: 14px;
    	color:$gray-color;
    	font-weight: 300;
    }
    input[type="submit"]{
		@extend .btn;
		border: none;
		margin-left: 42px;
	}
}
.b-comments-add__login-link{
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	color:$green-color;
	text-decoration: none;
	&:hover{
		color:$green-color-dark;
	}
}
.b-comments__add .error{
    color: red;
}