.b-comments{
	
	display: none;
    &.active{
    	display: block;
    }
}
.b-comments-cnt {
    float: left;

    padding: 25px 10px 0 25px;
}
.b-comments-cnt__link{
	@include inline-block;
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	color:$green-color;
	cursor: pointer;
	
	&:hover{
		color:$green-color-dark;
	}
	&:focus{
		outline: none;
	}
}
.b-comments__list {
	max-height: 300px;
	overflow: scroll;
}
.b-comment {
	padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px solid #f4f4f4;
}

.b-comment__user {
    float: left;
}

.b-comment__date {
	@include inline-block;
	padding-top: 10px;
    font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	color:$gray-color-light;
	margin-left: 12px;

}

.b-comment__text {
    padding-left: 42px;
    margin-top: -5px;
    float: left;
    font-size: 14px;
	line-height: 22px;
	color:$gray-color-dark;
}

#id_honeypot {
    display: none;
}
.b-comments__add {
	font-size: 14px;
	color:$gray-color-dark;
	margin: 0;
	padding-top: 15px;
    border-top: 1px solid #f4f4f4;
    
    textarea{
    	margin-left: 40px;
    	border: none;
    	height:80px;
    	resize:none;
    	width: 90%;
    	font-size: 14px;
    	color:$gray-color;
    	font-weight: 300;
    }
    input[type="submit"]{
		@extend .btn;
		border: none;
		margin-left: 42px;
	}
}
.b-comments-add__login-link{
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	color:$green-color;
	text-decoration: none;
	&:hover{
		color:$green-color-dark;
	}
}
.b-comments__add .error{
    color: red;
}