
$green-color: #28d0b9;
$green-color-dark: #23b19e;

$violet-color: #775995;
$yellow-color:#f0ba02;
$mareen-color:#2a7980;
$red-color:#fc3d13;


.b-hidden{
	display: none;
}
.logo-bw{
	width:80px;
	height:19px;
	display: block;
	background: url('../img/logo-bw.png') no-repeat;
	margin:20px auto;
}

.edit-link{
	font-size: 14px;
	color: $green-color;
	text-decoration: none;
}