
.b-hidden{
	display: none;
}
.logo-bw{
	width:80px;
	height:19px;
	display: block;
	background: url('../img/logo-bw.png') no-repeat;
	margin:20px auto;
}
.logo-bg{
	width:80px;
	height:19px;
	display: block;
	background: url('../img/logo-bg.png') no-repeat;
	margin: 20px auto;
}