
$green-color: #28d0b9;
$green-color-dark: #23b19e;

$violet-color: #775995;
$yellow-color:#f3c500;
$mareen-color:#2a7980;
$red-color:#fc3d13;

$gray-color: #969696;
$gray-color-light: #cccccc;
$gray-color-dark: #444444;

@mixin default-text() {
	font-size: 16px;
	line-height: 25px;
	color:$gray-color-dark;

	p{
		margin:10px 0;
	}
	img{
		width:100% !important;
		height:auto !important;
	}
	ul{
		list-style-type: disc;
		padding: 0 0 0 20px;
		margin:10px 0;
	}
	ol{
		list-style-type: decimal;
		margin:10px 0;
		padding: 0 0 0 20px;
	}
	li{
		margin: 8px 0;
	}
	a{
		color:#1188c0;
		text-decoration: none;
		&:hover{
			color:#0b587c;
		}
	}
}


.b-hidden{
	display: none;
}


.edit-link{
	font-size: 11px;
	font-weight: 600;
	color: $gray-color;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 22px;
	cursor: pointer;
	&:before{
		@include inline-block;
		width:20px;
		height:22px;
		margin-right: 5px;
		background: url(../img/sprite.png?4) no-repeat 0 -150px;
		content: "";
	}
	
}
.btn{
	font-size: 13px;
	letter-spacing: 1.2px;
	vertical-align: top;
	font-weight: 600;
	color:#fff;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	padding: 9px 25px 8px;
	background: $green-color;
	@include border-radius(3px);
	&:hover{
		background:$green-color-dark;
	}
}