.b-feed{
	padding:30px 3% 50px;
}
.grid-sizer{
	width:22%;
}
.gutter-sizer{
	width:4%;
}
.b-feed-item{
	display: block;
	width:22%;
	margin-bottom: 35px;
}
.b-feed-item__title{
	margin:0;
	line-height: 24px;
	vertical-align: top;
	a{
		color:#444444 ;
		text-decoration: none;
		font-size: 17px;
		font-weight: 500;
	}
}
.b-feed-item__picture{
	width:100%;
}
.b-feed-item__text{
	margin:0;
	font-size: 14px;
}
.b-feed-item__rubrik{
	display:block;
	color:#a5a5a5;
	font-weight: 500;
	
	.b-feed-item_event &{
		color:#3498db;
	}
	.b-feed-item_photo &{
		color:#e74c3c;
	}
}
.b-feed-item__author{
	padding:5px 0;
	display: block;
}

@media screen and (max-width: 900px) { 
	.b-feed-item{
		width:46%;
	}
	.grid-sizer{
		width:46%;
	}
	.gutter-sizer{
		width:8%;
	}
}
@media screen and (max-width: 750px) { 
	.b-feed-item{
		width:100%;
	}
	.grid-sizer{
		width:100%;
	}
	.gutter-sizer{
		width:0;
	}
}