.body_feed{
	background: #f3f3f3;
}

.b-feed__wrapper{
	background: #f3f3f3;
}

.b-feed__rubric-title{
	margin: 0;
	text-align: center;
	padding: 38px 30px;
	font-weight: 100;
	font-size: 44px;
	color:#fff;
	background: $violet-color;
	letter-spacing: 7px;
	text-transform: uppercase;

	&.b-feed__rubric-title_event{
		background: $yellow-color;
	}
	&.b-feed__rubric-title_message{
		background: $mareen-color;
	}
	&.b-feed__rubric-title_photo{
		background: $violet-color;
	}
}
.b-feed{
	padding:30px 0 50px;
	width: 1180px;
	height: 1000500px;
	margin:auto;
	
	.grid-sizer{
		width:265px;
	}
	.gutter-sizer{
		width:40px;
	}
}

.b-feed-item{
	display: block;
	width:265px;
	background: #fff;
	margin-bottom: 35px;
	@include box-shadow(0px 1px 0px #bbb);

	&:hover{
		@include box-shadow(0px 2px 0px #bbb);
	}
}
.b-feed-item_info{
	height:280px;
	background: url(../img/feed-info.png) no-repeat bottom center;
	
	a{
		display: block;
		text-decoration: none;
		height:280px;
	}
	.b-feed-item__title{
		padding-top: 25px;
		padding-bottom: 3px;
	}
}
.b-feed-item__top{
	background: $violet-color;
	height:3px;


	.b-feed-item_event &{
		background:$yellow-color;
	}
	.b-feed-item_message &{
		background: $mareen-color;
	}
	.b-feed-item_photo &{
		background:$violet-color;
	}
}
.b-feed-item__info{
	padding: 15px 20px 0px;
	line-height: 10px;
}
.b-feed-item__rubric{
	@include inline-block;
	color:#888888;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10px;
	letter-spacing: 0.9px;
	
	.b-feed-item_event &{
		color:$yellow-color;
	}
	.b-feed-item_message &{
		color: $mareen-color;
	}
	.b-feed-item_photo &{
		color:$violet-color;
	}

}
.b-feed-item__date{
	font-size: 10px;
	margin-left: 8px;
	color:#888888;
	vertical-align: bottom;
}
.b-feed-item__link{
	display: block;
	text-decoration: none;
	padding: 6px 0 13px;
	&:hover .b-feed-item__title{
		color:$green-color;
	}
}

.b-feed-item__title{
	margin:0;
	line-height: 25px;
	vertical-align: top;
	color:#000 ;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
	padding: 0 20px;

	
}

.b-feed-item__picture{
	display: block;
	width:100%;
	margin-top: 7px;
	margin-bottom: -7px;
}
.b-feed-item__text{
	margin:0 ;
	font-size: 13px;
	text-decoration: none;
	color:#000;
	line-height: 20px;
	word-break: break-word;
	padding: 0 20px 3px;

}

.b-feed-item__author{
	padding:3px 0 5px;
	display: block;
}
.b-feed__more_wrapper{
	text-align: center;
	padding: 20px;

}
.b-feed__more{
	@extend .btn;
}

@media screen and (max-width: 1240px) { 
	.b-feed{
		width: 875px;
	}
}
@media screen and (max-width: 935px) { 
	.b-feed{
		width: 570px;
	}
}
@media screen and (max-width: 630px) { 
	
	.b-feed{
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	.b-feed-item{
		width: 100%;
	}
	.b-feed-item_info{
		background-size: cover;
		background-position: bottom center;
	}
	.b-feed-item__rubric{
		font-size: 13px;
	}

	.b-feed-item__date{
		font-size: 12px;
	}
	.b-feed-item__title{
		line-height: 32px;
		font-size: 22px;
		margin-bottom: 5px;
	}
	.b-feed-item__text{
		font-size: 15px;
		line-height: 22px;
	}
}







