.body_feed{
	background: #f3f3f3;
}

.b-feed__wrapper{
	background: #f3f3f3;
}

.b-feed__rubric-title{
	margin: auto;
	text-align: center;
	padding: 30px 0 5px;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;

	&.b-feed__rubric-title_event{
		color: $yellow-color;
	}
	&.b-feed__rubric-title_message{
		color: $green-color;
	}
}
/*--------feed-----------*/
.b-feed{
	padding:25px 0 50px;
	width: 1180px;
	height: 1000500px;
	margin:auto;
	
	.grid-sizer{
		width:265px;
	}
	.gutter-sizer{
		width:40px;
	}
}
.b-feed__title{
	@include inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	color:#000;
	font-size: 16px;
}
.b-feed-item{
	display: block;
	width:265px;
	background: #fff;
	margin-bottom: 35px;
	position: relative;
	@include box-shadow(0px 1px 0px #bbb);

	&:hover{
		@include box-shadow(0px 2px 0px #bbb);
	}

	.b-user{
		padding-left: 20px;
		padding-bottom: 11px;
	}
}

.b-feed-item__top{
	background: $violet-color;
	height:3px;


	.b-feed-item_event &{
		background:$yellow-color;
	}
	.b-feed-item_message &{
		background: $green-color;
	}
	.b-feed-item_photo &{
		background:$violet-color;
	}
}
.b-feed-item__info{
	padding: 15px 20px 0px;
	line-height: 10px;
}
.b-feed-item__rubric{
	@include inline-block;
	color:#888888;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10px;
	letter-spacing: 0.9px;
	
	.b-feed-item_event &{
		color:$yellow-color;
	}
	.b-feed-item_message &{
		color: $green-color;
	}
	.b-feed-item_photo &{
		color:$violet-color;
	}

}

.b-feed-item__link{
	display: block;
	text-decoration: none;
	padding: 6px 0 5px;

	&:hover {
		.b-feed-item__title, .b-feed-item__text{
			color:$gray-color;
		}
	}
}

.b-feed-item__title{
	margin:0;
	line-height: 25px;
	vertical-align: top;
	color:$gray-color-dark;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
	padding: 0 20px;

	
}

.b-feed-item__picture{
	display: block;
	width:100%;
	margin-top: 7px;
	margin-bottom: 4px;
}
.b-feed-item__text{
	margin:0 ;
	font-size: 13px;
	text-decoration: none;
	color:$gray-color-dark;
	line-height: 20px;
	word-break: break-word;
	padding: 0 20px 3px;

}

.b-feed-item__author{
	padding:3px 0 5px;
	display: block;
}
.b-feed__more_wrapper{
	text-align: center;
	padding: 20px;

}
.b-feed__more{
	@extend .btn;
}

@media screen and (max-width: 1240px) { 
	.b-feed{
		width: 875px;
	}
	
}
@media screen and (max-width: 935px) { 
	.b-feed{
		width: 570px;
	}

}
@media screen and (max-width: 630px) { 
	
	
	.b-feed{
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	.b-feed-item{
		width: 100%;
	}
	
	.b-feed-item__rubric{
		font-size: 13px;
	}

	.b-feed-item__date{
		font-size: 12px;
	}
	.b-feed-item__title{
		line-height: 32px;
		font-size: 22px;
		margin-bottom: 5px;
	}
	.b-feed-item__text{
		font-size: 15px;
		line-height: 22px;
	}
}







