
.b-groups{
	padding:45px 0 15px;
	width: 1180px;
	margin:auto;
	.grid-sizer{
		width:265px;
	}
	.gutter-sizer{
		width:40px;
	}
}
.b-groups__title{
	@include inline-block;
	margin-top: -60px;
	text-transform: uppercase;
	color:#000;
	font-size: 16px;
}
.b-groups-item{
	display: block;
	background: $violet-color;
	position: relative;
	height: 85px; 
	margin-bottom: 35px;
	position: relative;
	@include box-shadow(0px 1px 0px #bbb);
	text-decoration: none;
	cursor: pointer;

	&:hover{
		@include box-shadow(0px 2px 0px #bbb);
	}

    .b-groups-item__content{
    	padding: 10px;
    	max-height: 64px;
    	overflow: hidden;
    }

    .b-groups-item__picture {
        margin-right: 0;
        float: left;
        overflow: hidden;
    }

    .b-groups-item__name {
        float: left;
        color:#fff;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        max-width: 80%;
    }

    .b-groups-item__feeds-cnt {
        float: right;
        color:#fff;
        i {

        }
    }

    .b-groups-item__description {
        float: left;
        font-size: 0.8em;
        color:#fff;
    }
}









