.b-hub__wrapper{
	background: #f3f3f3;
	padding: 30px;
}
.b-hub{
	background: #fff;
}
.b-hub__content{
	max-width: 650px;
	margin: auto;	
	padding: 30px 30px 30px;
}

.b-hub__title{
	margin: 0 0 30px;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	color: $mareen-color;
	text-transform: uppercase;
	a{
		color: $mareen-color;
		text-decoration: none;
	}
}
.b-hubquestion-add__form{
	.b-form__category{
		margin: 20px 0;
		span{
			color:$gray-color;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 600;
			text-decoration: none;
			margin-right: 10px;
		}
	}
	.b-form__title{
		input{
			width:95%;

		}
	}
	.error{
		color:red;
	}
}
.b-hubquestion-add__auth{
	
	.b-hubquestion-add__login-link{
		font-size: 14px;	
		text-transform: uppercase;
		font-weight: 600;
		color:$green-color;
		text-decoration: none;
		&:hover{
			color:$green-color-dark;
		}
	}
}





.b-hub-questions__wrapper{
	background: #f3f3f3;
	padding: 0 30px 30px;
	margin-top: -15px;
}
.b-hub-questions{

}
.b-hub-questions__item{
	background:#fff;
	margin-bottom: 3px;
}
.b-hub-questions-item__content{
	max-width: 650px;
	margin: auto;	
	padding: 12px 30px 10px;
}
.b-hub-questions-item__link{
	color:#000;
	text-decoration: none;
	font-size: 18px;
	&:hover{
		color:$gray-color-dark;
	}
}
.b-hub-questions-item__info{
	padding-top: 7px;
	.b-user{
		float: right;
		@extend .b-user_small;
		margin-top: -1px;
	}
}
.b-hub-questions-item__category{
	color:$gray-color;
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	@include inline-block;
	margin-right: 10px;
}
.b-hub-questions-item__date{
	color:$gray-color-light;
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
}




/*-----------question one ---------------*/
.b-hub-item__wrapper{
	background: #f3f3f3;
	padding: 30px;
}
.b-hub-item{
	background: #fff;
}
.b-hub-item__content{
	max-width: 650px;
	margin: auto;	
	padding: 30px 30px 30px;
}
.b-hub-question{
	padding-bottom: 30px;
}
.b-hub-question__info{
	float: left;
	span{	
		color:$mareen-color;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
	}
	.b-hub-answer & span{
		color:$gray-color-light;
	}
}
.b-hub-question__date{
	color:$gray-color-light;
	font-size: 11px;
	display: block;
	padding-top: 6px;

}
.b-hub-question__author{
	float: right;
}
.b-hub-question__title{
	color:#000;
	margin: 20px 0 10px;
	font-size: 26px;
}
.b-hub-question__text{
	margin-top: 15px;
	@include default-text();
	padding-bottom: 20px;
}


.b-article__share{
	float: left;
	&>div{
		margin-top: 5px;
		margin-left: -4px;
	}
}
.b-article__share-text{
	font-size: 14px;
	font-weight: 300;
}
.b-article__complaint{
	float: right;
	padding-top: 28px;
	a{
		color:$gray-color;
		font-size: 11px;	
		line-height: 18px;
		text-transform: uppercase;
		font-weight: 600;
		text-decoration: none;
		i{
			@include inline-block;
			width:13px;
			height:18px;
			margin-right: 5px;
			background: url(../img/sprite.png) no-repeat 0 -175px;
			content: "";
		}
	}
}




.b-hubanswer {
	padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px solid #f4f4f4;
}

.b-hubanswer__user {
    float: left;
}

.b-hubanswer__date {
	@include inline-block;
	padding-top: 10px;
    font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	color:$gray-color-light;
	margin-left: 12px;

}

.b-hubanswer__text {
    padding-left: 42px;
    margin-top: -5px;
    float: left;
    font-size: 14px;
	line-height: 22px;
	color:$gray-color-dark;
	p{
		margin: 0;
	}
}

.b-hubanswer__add {
	padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px solid #f4f4f4;
	font-size: 14px;
	color:$gray-color-dark;

    textarea{
    	margin-left: 40px;
    	border: none;
    	height:80px;
    	resize:none;
    	width: 90%;
    	font-size: 14px;
    	color:$gray-color;
    	font-weight: 300;
    }
    input[type="submit"]{
		@extend .btn;
		border: none;
		margin-left: 42px;
	}
}
.b-hubanswer-add__login-link{
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	color:$green-color;
	text-decoration: none;
	&:hover{
		color:$green-color-dark;
	}
}
.b-hubanswer__add .error{
    color: red;
}

@media screen and (max-width: 630px) { 
	.b-hub__wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
	.b-hub-item__wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
	.b-hub-questions__wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}

}