body{
	min-width: 400px;
}
.b-header{
	background: #20202f;
	padding: 20px 30px;
	vertical-align: top;
	line-height: 16px;
	font-size: 14px;
	a{
		font-weight: 300;
		text-decoration: none;
		text-transform: uppercase;
	}

}
.b-header__city{
	float:left;
}
.b-header__menu-wrapper{
	position: relative;
}
.b-header__menu{
	float:left;
	height:16px;

	li{
		@include inline-block;
		vertical-align: top;
		margin-left: 30px;

		&:first-child{
			margin-left: 0;
		}
		a{
			line-height: 16px;
			color:#bdc3c7;
		}

		&.b-header__menu-item_current{
			a{
				color:#2ecc71;
			}
		}
	}
}
@media screen and (max-width: 1000px) { 
	.b-header__menu{
		
	}
}


.b-header__add{
	float:right;
	@include inline-block;
	padding:6px 16px;
	border:1px solid #2ecc71;
	color:#2ecc71;
	@include border-radius(17px);
	margin:-7px 0;

}
.b-footer{
}


/*-------------popup---------------*/
/*-------to do:  вынести в отдельный стиль*/
.b-popup{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: none;

	&.b-popup_shown{
		display: block;
	}
}
.b-popup__overlay{
	z-index: 1;
	height: 100%;
	width: 100%;
	background: rgba(159,159,159,0.7);
}
.b-popup__window{
	z-index: 2;
	position: absolute;
	top:35%;
	left:0;
	right:0;
	margin: auto;

	
}

.b-popup-add {
	.b-popup__window{
		width:401px;
		height:200px;
		@include border-radius(35px);
		overflow: hidden;
	}

	a{
		display: block;
		height:100%;
		background: #20202f;
		width:200px;
		float: left;
		color:#2ecc71;
		vertical-align: middle;
		line-height: 200px;
		font-size: 13px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;

		&.b-popup-add__right{
			border-left: 1px solid #a5a5a5;
		}

		&:hover{
			background: #2ecc71;
			color:#fff;
		}
	}
}





