body{
	min-width: 400px;
	padding-top: 78px;
}
.b-header{
	background: #fff;
	padding: 30px 30px;
	vertical-align: top;
	line-height: 18px;
	height:18px;
	font-size: 13px;
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index: 2;
	letter-spacing: 1.2px;
	text-align: center;
	@include box-shadow(0 0px 10px rgba(0,0,0,0.1));

	a{
		
		text-decoration: none;
		text-transform: uppercase;
	}

}
.b-header__menu-btn{
	float:left;
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	color:$green-color;
	font-weight: 600;

	i{
		@include inline-block;
		width:12px;
		height:9px;
		border-top: 3px solid $green-color;
		border-bottom: 3px solid $green-color;
		vertical-align: top;
		margin-top: 2px;
		margin-right: 8px;
		&:after{
			content:"";
			width: 12px;
			height: 3px;
			background: $green-color;
			position: absolute;
			top:8px;
			left:0;
		}
	}
}
.b-header__city{
	color:#000;
	font-size:23px;
	font-weight: 800;
	text-transform: uppercase;

	&:hover{
		color:#737373;
	}
}



.b-header__content{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 30px 30px; 
	z-index: 2;
	background: #fff;

	.b-header__btns{
		a, span{
			vertical-align: top;
			font-weight: 600;
			color:$green-color;
			cursor: pointer;
			text-transform: uppercase;
			&:hover{
				color:$green-color-dark;
			}
		}
		position: absolute;
		top: 30px;
		right: 30px;
	}
	.b-header__login{
		margin-left: 30px;
	}
	.b-header__avatar{
		margin-left: 30px;
		display: inline-block;
		margin-top: -10px;
		overflow: hidden;
		border-radius: 18px;

		img{
			width:35px;
			height:35px;
			display: block;
		}
	}

}




.b-header__menu{
	position: fixed;
	z-index: 1;
	top:78px;
	right:0;
	bottom:0;
	left:0;
	background: $green-color;
	overflow-y:auto;
	@include transform(translateY(-200%));
	@include transition(transform .4s);

	
	.b-header__avatar{
		margin: auto;
		display: none;
		overflow: hidden;
		border-radius: 35px;
		width:70px;

		img{
			width:70px;
			height:70px;
			display: block;
		}
	}
	
	ul{
		margin-bottom: 120px;
	}
	li{
		display:block;		
		text-align: center;
		padding: 60px 0 30px;

		a{
			line-height: 16px;
			font-size:23px;
			color:#fff;
			font-weight: 800;

			&:hover{
				color:#d0f2ea;
			}
		}		
	}
	

	.b-header__btns{
		margin: 10px 0 20px;
		display: none;
		padding: 0 20px;
		text-align: center;

		a{	
			margin-top: 20px;
			line-height: 16px;
			font-size: 16px;
			color:#fff;
			@include inline-block;
			padding:20px 0;
			width:330px;
			border:4px solid #fff;
			font-weight: 700;
		}		
	}
}

.b-header.active {

	.b-header__content{
		background: $green-color;

		.b-header__btns{
			a{
				color: #fff;
			}
		}
	}
	.b-header__menu-btn{
		color: #fff;
		i{
			border-color: #fff;
			&:after{
				background: #fff;
			}
		}
	}
	.b-header__city{
		color:#fff;

		&:hover{
			color:#d0f2ea;
		}
	}
	.b-header__menu{
		@include transform(translateY(0));
	}
}




@media screen and (max-width: 630px) { 

	.b-header{
		padding: 30px 10px;
	}
	.b-header__city{
		font-size:20px;
	}
	.b-header__menu-btn{
		left:10px;
		i{
			width:18px;
			&:after{
				width: 18px;
			}
		}
		span{
			display: none;
		}
	}

	.b-header__content{
		padding: 30px 10px;
		.b-header__btns{
			display: none;
		}
	}
	.b-header__menu{

		li{
			a{
				font-size:20px;
			}
		}
		.b-header__avatar{
			display: block;
		}
		.b-header__btns{
			display: block;
		}
	}
}




