

.b-like {
	padding: 20px 0;

	.like {
		border: 1px solid green;
		color: green;
		font-weight: bold;
		cursor: pointer;
		padding: 0 7px;
	}

	.dislike {
		border: 1px solid indianred;
		color: indianred;
		font-weight: bold;
		cursor: pointer;
		padding: 0 8px;
	}

	.raiting {
		font-size: 1.1em;
		font-weight: bold;
		margin: 0 10px;
	}
}

.positive-like {
	color: green;
}

.negative-like {
		color: indianred;
}

.neitral-like {
		color: gray;
}