

.b-like {
	padding: 15px 0 0;

	.like {
		border: 1px solid green;
		color: green;
		font-weight: bold;
		cursor: pointer;
		padding: 0 7px;
		margin-right: 10px;
	}

	.dislike {
		border: 1px solid indianred;
		color: indianred;
		font-weight: bold;
		cursor: pointer;
		padding: 0 8px;
		margin-left: 10px;
	}

	.raiting {
		font-size: 1.1em;
		font-weight: bold;
		&:before{
			content:'';
			@include inline-block;
			width:24px;
			height: 24px;
			margin-right: 5px;
			@include gorod-sprite($icons-sprite, thumb-up);  
			margin-top: -7px;
		}
	}
}

.positive-like {
	color: green;
}

.negative-like {
		color: indianred;
}

.neitral-like {
		color: #000;
}