.body_main{
	padding: 0;
	min-width: inherit;
}

.b-index{
	min-width: 1200px;
	margin: auto;
}
.b-index-header{
	padding: 60px 35px 130px;
	background: url(../img/index-left.png) no-repeat bottom left, url(../img/index-right.png) no-repeat bottom right;
	text-align: center;
}
.b-index-header__content{
	max-width: 480px;
	margin: auto;
}
.b-index-header__city{
	display: block;
	color: #000;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	padding: 20px 0 0;
	line-height: 37px;
	letter-spacing: 1.5px;
	word-spacing: 8px;
	text-align: left;
	margin-bottom: 7px;
	text-align: center;
}
.b-index-header__paltform{
	color: #000;
	font-weight: 400;
	font-size: 16px;
}
.b-index-header__text{
	color:$gray-color;
	font-size: 14px;
	text-align: left;
	line-height: 23px;
	margin: 28px 0 0;
}




.b-index-cities{
	background: #f3c500;
	padding: 50px 25px;
	h4{
		text-transform: uppercase;
		margin: 0 0 50px;
		color:#000;
		font-size: 23px;

	}
}
.b-index-cities__content{
	width: 1150px;
	margin: auto;
}
.b-index-cities__list{
	width:905px;
	float: left;
}
.b-index-cities__item{

	width: 270px;
	margin:0;
	@include inline-block;
	text-align: left;
	padding: 0 25px 30px 0;
	a{
		@include inline-block;
		text-decoration: none;
		color:$gray-color-dark;
		&:hover{
			color:#fff;
		}
	}
}
.b-index-cities__title{
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	
}
.b-index-cities__region{
	font-size: 14px;
	display: block;
}
.b-index-cities__add{
	float: right;
	padding: 30px;
	width: 180px;
	border: 2px solid #fff;
	h5{
		font-weight: 500;
		font-size: 15px;
		margin: 0;
	}
	a{
		@extend .btn;
	}
	p{
		margin: 15px 0 26px;
		font-size: 13px;
	}
}






.b-index-info{
	background: #f3f3f3;
	padding: 50px 25px 0px;
	h4{
		text-transform: uppercase;
		margin: 0 0 34px;
		color:#000;
		font-size: 23px;

	}
}
.b-index-info__content{
	width: 1150px;
	padding-bottom: 120px;
	margin: auto;
	position: relative;
}
.b-index-info__row{
	width: 905px;
	padding-bottom: 20px;
}
.b-index-info__item{
	width: 220px;
	margin:0;
	@include inline-block;
	text-align: left;
	padding: 0 75px 30px 0;
	vertical-align: top;
}
.b-index-info__img{
	width: 80px;
	height: 60px;
	background: url(../img/index-sprite.png) no-repeat;
	margin-bottom: 15px;
}

@for $i from 1 through 9{
    .b-index-info__item_#{$i} .b-index-info__img{
        background-position: 0 (-$i*60)+60+px;
    }
}
.b-index-info__heading{
	text-transform: uppercase;
	font-size: 11px;
	color:#000;
	font-weight: 600;
	padding-bottom: 3px;
}
.b-index-info__text{
	font-size: 13px;
	color:$gray-color;
	font-weight: 300;
}
.b-index-info__house{
	width: 80px;
	height: 80px;
	position: absolute;
	background: url(../img/index-house.png) no-repeat 0 0;
	bottom: 0;
	right: 50px;
}


.b-index-footer{
	text-align: center;
	padding: 15px 0;
	a{
		color:#777777;
		font-weight: 700;
		font-size: 13px;
		margin: 0 20px;
		text-decoration: none;
		&.b-index-footer__error{
			color:#fc3d13;
		}
		&:hover{
			color:$green-color-dark;
		}
	}
}

@media screen and (max-width: 430px) { 
	.b-index{
		min-width: inherit;
	}
	.b-index-header{
		background: url(../img/index-left.png) no-repeat bottom left;
	}
	.b-index-header__city{
		text-align: center;
	}
	.b-index-header__paltform{
		width: 270px;
		margin: auto;
		font-size: 17px;
		padding-bottom: 10px;
	}
	.b-index-header__text{
		font-size: 15px;
	}

	.b-index-cities{
		padding: 50px 20px;
	}
	.b-index-cities__content{
		width: auto;
	}
	.b-index-cities__list{
		width:auto;
		float: none;
	}
	.b-index-cities__item{
		width: 100%;
		padding-right: 0;
	}
	.b-index-cities__add{
		float: none;
		width: auto;
		a{
			display: block;
			text-align: center;
		}
	}


	.b-index-info{
		padding:50px 20px 0;
	}
	.b-index-info__content{
		width: auto;
	}
	.b-index-info__row{
		width: auto;
	}
	.b-index-info__item{
		width: 100%;
		padding-right: 0;
	}

	.b-index-info__house{
		right: initial;
		left: 20px;
	}

	.b-index-footer{
		a{
			display: block;
			text-align: left;
			padding: 3px 0;
		}
	}
}









