.b-orgs{
	padding:30px 0 50px;
	width: 1650px;
	margin:auto;

	.grid-sizer{
		width:250px;
	}
	.gutter-sizer{
		width:30px;
	}
}

.b-orgs__item{
	display: block;
	width:250px;
	margin-bottom: 35px;
	line-height: 21px;
	vertical-align: top;
	a{
		color:#444444 ;
		text-decoration: none;
		font-size: 17px;
		font-weight: 500;
	}
}

@media screen and (max-width: 1690px) { 
	.b-orgs{
		width: 1370px;
	}
}
@media screen and (max-width: 1410px) { 
	.b-orgs{
		width: 1090px;
	}
}
@media screen and (max-width: 1130px) { 
	.b-orgs{
		width: 810px;
	}
}
@media screen and (max-width: 850px) { 
	.b-orgs{
		width: 530px;
	}
}
@media screen and (max-width: 570px) { 
	.b-orgs{
		width: 250px;
	}
}







