.b-organization{
	padding:80px 30px;
	max-width:650px;
	margin: auto;
	color:#444;
	font-size: 14px;
	position: relative;

	.edit-link{
		@include inline-block;
		position: absolute;
		top:30px;
		left:30px;
	}
}
.b-organization__logo{
	text-align: center;
	margin-bottom: 25px;

	img{
		max-width: 200px;
	}
}
.b-organization__name{
	margin:0px 0 5px; 
	font-weight: 600;
	font-size: 26px;
} 
.b-organization__breadcrumbs{
	margin:0px 0 30px;
	color:$green-color;
}
.b-organization__info{
	padding: 0;
	margin: 30px 0;	
	font-size: 16px;
	color:#444;

	a{
		color:#1188c0;
		text-decoration: none;
	}
	
	>li{
		position: relative;
		padding-left: 40px;
		margin:0 0 20px;
	}
}
.b-organization__icon{
	position: absolute;
	top:4px;
	left:0;
	display: block;
	width:20px;
	height: 20px;
	background: url(../img/sprite.png) no-repeat 0 0;

	.b-organization__address &{
		background-position: 0 0;
	}
	.b-organization__phone &{
		background-position: 0 -25px;
	}
	.b-organization__web-site &{
		background-position: 0 -50px;
	}
	.b-organization__email &{
		background-position: 0 -75px;
	}
	.b-organization__schedules &{
		background-position: 0 -100px;
	}
}
.b-organization__email{

}
.b-organization__address, .b-organization__phone{
	span{
		display: block;
		margin-bottom: 5px;
	}
}
.b-organization__social-links{
	a{
		margin-right:30px;
	}
}
.b-organization__schedule{
	margin-bottom: 4px;
}
.b-organization__schedule-day{
	margin-right: 10px;
}
li.b-organization__description{
	margin:40px 0 20px;

	@include default-text();
}

@media screen and (max-width: 630px) { 
	.b-organization{
		padding-left: 10px;
		padding-right: 10px;
	}
}
