.body_organizations{
	background: #232025;
}
.b-orgs{
	padding:40px 0 50px;
	width: 1180px;
	margin:auto;

	.grid-sizer{
		width:265px;
	}
	.gutter-sizer{
		width:40px;
	}
}
.b-orgs__title{
	margin: 0;
	text-align: center;
	padding: 38px 30px;
	font-weight: 100;
	font-size: 44px;
	color:#fff;
	background: #fc3d13;
	letter-spacing: 7px;
	text-transform: uppercase;
}


.b-orgs__item{
	display: block;
	width:265px;
	margin-bottom: 85px;
	line-height: 21px;
	vertical-align: top;
	a{
		color:#fff ;
		text-decoration: none;
		font-size: 18px;
		font-weight: 700;

		&:hover{
			color:#fc3d13;
		}
	}
}




@media screen and (max-width: 1240px) { 
	.b-orgs{
		width: 875px;
	}
}
@media screen and (max-width: 935px) { 
	.b-orgs{
		width: 570px;
	}
}
@media screen and (max-width: 630px) { 
	
	.b-orgs{
		width: 90%;
	}
	.b-orgs__item{
		width: 100%;
	}
}







