.body_organization{
	background: #f3f3f3;
	min-height: 400px;
}
.b-organization__wrapper{
	padding:30px 30px;
	background: #f3f3f3;
}
.b-organization{
	background: #fff;
	.edit-link{
		float: right;
	}
}

.b-organization__content{
	max-width: 650px;
	margin: auto;	
	padding: 30px 30px 50px;
}


.b-organization__breadcrumbs{
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	color:$gray-color;
	margin-right: 10px;
}
.b-organization__date{
	font-size: 11px;	
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	color:$gray-color-light;
}
.b-organization__logo{
	text-align: center;
	margin-bottom: 25px;
	margin-top: 20px;

	img{
		max-width: 200px;
	}
}
.b-organization__name{
	margin:25px 0 0px; 
	font-weight: 600;
	font-size: 26px;
} 
.b-organization__info{
	padding: 0;
	margin:3px 0 12px; 
	font-size: 13px;
	span{
		margin-right: 15px;
		color:$gray-color;
	}
	.b-organization__phone{
		color:$gray-color-dark;
	}
	.b-organization__web-site{
		color:$gray-color;
		text-decoration: none;
		&:hover{
			color:$gray-color-dark;
		}
	}
}
.b-organization__map{
	>ymaps{
		width: 100% !important;
	}
}

.b-organization__description{
	margin:30px 0 20px;
	@include default-text();
}
.b-organization__schedules{
	@include default-text();
	padding-bottom: 10px;
}

.b-article__owner{
	float: right;
	padding-top: 31px;
	a{
		color:$green-color;
		font-size: 11px;	
		line-height: 18px;
		text-transform: uppercase;
		font-weight: 600;
		text-decoration: none;
	}
}


@media screen and (max-width: 630px) { 
	.b-organization__wrapper{
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
}
