.body_payments{
	background: #f3f3f3;
}
.b-payments{
	padding:30px 30px;
	max-width:650px;
	margin: auto;
	color:#000;
	font-size: 14px;
	position: relative;
}

.b-payments__title{
	margin: 0 0 30px;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	color: $mareen-color;
	text-transform: uppercase;
}

.b-payments__list{
	a{
		color:$gray-color-dark;
		text-decoration: none;
		font-size: 18px;

		&:hover{
			color:$gray-color;
		}
	}
}

.b-payments__item {
	margin: 20px;
}


@media screen and (max-width: 630px) { 
	.b-payments{
		padding-left: 10px;
		padding-right: 10px;
	}
}