.body-block{
	overflow: hidden;
}
/*-------------popup---------------*/
.b-popup{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: none;
	overflow: auto;
	background: rgba(100,100,100,0.75);

	&.b-popup_shown{
		display: block;
	}
}

@media screen and (max-width: 630px) { 
	.b-popup_shown{
		display: none !important;
	}
}

.b-popup__window{
	z-index: 2;
	margin: 50px auto;
	@include border-radius(3px);
	overflow: hidden;
	background: #fff;
	position: relative;

	
}



.b-popup-add {
	.b-popup__window{
		width:95%;
	}
	#b-form__wrapper{
		width:650px;
		margin: auto;
	}
	.b-form__header{
		padding: 45px 48px 15px;
	}
	.b-form__close{
		position: absolute;
		top:17px;
		right:20px;
		display: block;
		cursor: pointer;
		width: 20px;
		height: 20px;
		background: url(../img/sprite.png?2) no-repeat 0 -125px;
		&:hover{
			background: url(../img/sprite.png?2) no-repeat -25px -125px;
		}
	}
	.b-form{
		padding: 20px 40px;
		&>div{
			margin: 0 auto 10px;
		}

	}
	.b-form__type{
		font-size: 11px;
		font-weight: 700;
		color: $green-color;
		text-transform: uppercase;
		letter-spacing: 1px;
		float: left;

	}
	.b-form__user{
		float: right;
		margin-top: -14px;

	}

	.b-form__preview-wrapper{
		padding-bottom: 25px;
		padding-left: 10px;
		position: relative;
	}
	.b-form__preview{
		height:120px;
		background-size: cover;
		background-position: center;
		cursor: pointer;
		width: 170px;
		@include border-radius(4px);		
		border: 2px solid #f0f0f0;
		background-image: url(../img/photo-bg.png?3);
		float: left;

		&:hover{
			border-color: #dddddd;
		}
	}
	.b-form__preview-tools{
		float:left;
		margin-left: 20px;
		padding-top: 12px;
		display: none;
		&.b-form__preview-tools_active{
			display: block;
		}

		div{
			padding-left: 35px;
			width:60px;
			font-size: 13px;
			color:$green-color;
			cursor: pointer;
			margin-bottom: 18px;
			background: url(../img/form-sprite.png?2) no-repeat;
			line-height: 17px;
			&:hover{
				color:$green-color-dark;
			}
		}
		.b-form__change-preview{
			background-position: 0 -105px;
		}
		.b-form__del-preview{
			background-position: 3px -146px;
		}
	}
	.b-form__picture{
		display: none;
	}

	.b-form__title{
		position: relative;
		input{
			display: block;
			padding: 0px 8px;
			width: 554px;	
			border:none;
			font-size: 20px;
			outline: none !important;
		}
	}
	.b-form__rubric{
		display: none;
	}

	
	.b-form__submit{
		padding: 0px 10px 20px;
		margin-bottom: 0px !important;
		line-height: 30px;
		input{
			@extend .btn;
			border: 0;
			outline: none;
		}
	}
	.b-form__del{
		font-size: 13px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		font-weight: 600;
		margin-left: 15px;
		cursor: pointer;
		color: $green-color;
		display: none;
	}
	.b-form__error{
		position: absolute;
		top: -17px;
		left:0;
		font-size: 10px;
		color:red;
	}

	.error{
		&.b-form__title{
			input{
				border-color: red;
			}
		}
		&.b-form__preview-wrapper{
			.b-form__preview{
				border-color: red;
			}
		}
	}

	/*---------------CKEDITOR----------------*/
	.b-form__text{
		width: 100% !important;
		.cke{
			margin: auto;
			border:none;
			border-top: 2px solid #f1f1f1;
			border-bottom: 2px solid #f1f1f1;
			@include box-shadow(none);
		}
		.cke_top{
			background: none;
			border: none;
			padding: 12px 10px 5px;
		}

		.cke_wysiwyg_frame{
			margin: -10px;
		}

		.cke_toolgroup{
			background: none;
			border:none;
			@include box-shadow(none);
		}
		.cke_button{
			background: none;
			border:none;
			margin-right: 5px;
			@include box-shadow(none);
			cursor: pointer;
			padding: 0;
			width:22px;
			height:25px;
		}
		.cke_button_icon{
			width:22px;
			height:25px;
			margin: 0;
			background: url(../img/form-sprite.png) no-repeat 0 0 !important;
		}

		@mixin cke-icons($y-pos) {
			.cke_button_icon{
				background-position: 0 $y-pos !important;
			}

			&.cke_button_on{
				.cke_button_icon{
					background-position: -23px $y-pos !important;
				}
			}
		}
		.cke_button__bold{
			@include cke-icons(0px);
		}
		.cke_button__link{
			@include cke-icons(-25px);
		}
		.cke_button__numberedlist{
			@include cke-icons(-75px);
		}
		.cke_button__bulletedlist{
			@include cke-icons(-50px);
		}

	}

}
.b-form__time{
	padding: 120px 115px;
	margin: auto;
}


/*---------login--------------*/
.b-popup-login {
	.b-popup__window{
		width:530px;
		padding-bottom: 40px;
		text-align: center;
	}
	span{
		display: block;
		margin: auto;
		margin-bottom: 20px;
		color: #000;
		font-size: 35px;
		padding-top: 62px;
		letter-spacing: 6px;
		font-weight: 300;

	}
	
	a{
		display: block;
		width: 57%;
		height: 60px;
		line-height: 66px;
		color: #fff;
		text-decoration: none;
		top: 50px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
        margin-bottom: 20px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
	}
	.login-vk{
		color: #54769a;
		border: 2px solid #54769a;
	}
	.login-fb{
        color: #3b5998;
		border: 2px solid #3b5998;
	}
	.login-ok{
		color: #ff6600;
		border: 2px solid #ff6600;
	}
    .login-gorod{
        color: gray;
        text-transform: uppercase;
        letter-spacing: +0.1em;
    }

    .b-auth {
        display: none;
        margin-top: 40px;

        p {
          margin: 10px 0;
          padding: 0;
        }

        .b-auth__error {
            color: #e1968c;
            margin-top: 20px;
        }

        input {
		    width: 57%;
            padding: 13px 0;
        }

        input[type=text], input[type=password] {
            border: 1px solid #dbdbdb;
            color: gray;
            font-size: 13px;
            letter-spacing: 1.2px;
            text-align: center;
        }

        input[type=text]:focus, input[type=password]:focus {
            border-color: $green-color;
        }
    }
}



