
/*-------------popup---------------*/
.b-popup{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: none;

	&.b-popup_shown{
		display: block;
	}
}
.b-popup__overlay{
	z-index: 1;
	height: 100%;
	width: 100%;
	background: rgba(230,230,230,0.65);
}
.b-popup__window{
	z-index: 2;
	position: absolute;
	top:15%;
	left:0;
	right:0;
	margin: auto;

	
}

.b-popup-add {
	.b-popup__window{
		width:500px;
		height:700px;
		@include border-radius(5px);
		overflow: hidden;
		background: #fff;
	}
}





