.body-block{
	overflow: hidden;
}
/*-------------popup---------------*/
.b-popup{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: none;
	overflow: auto;
	background: rgba(100,100,100,0.75);

	&.b-popup_shown{
		display: block;
	}
}



.b-popup__window{
	z-index: 2;
	margin: 50px auto;
	@include border-radius(3px);
	overflow: hidden;
	background: #fff;
	position: relative;

	
}



/*---------login--------------*/
.b-popup-login {
    $width: 210px;

	.b-popup__window{
		max-width:530px;
		width: 80%;
		padding-bottom: 40px;
		text-align: center;
	}
	span{
		display: block;
		margin: auto;
		margin-bottom: 35px;
		color: #000;
		font-size: 28px;
		padding-top: 42px;
		letter-spacing: 1px;
		font-weight: 700;

	}
	
	a{
		display: block;
		font-size: 11px;
		letter-spacing: 0.7px;
		vertical-align: top;
		font-weight: 600;
		color:#fff;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
		padding: 13px 0 12px;
		width: $width;
		margin: 0 auto 20px;
		@include border-radius(4px);
	}
	.login-vk{
		background: #5c84a7;
		&:hover{
			background: #4d6f8d;
		}
	}
	.login-fb{
        background: #3b5998;
        &:hover{
			background: #314b82;
		}
	}
	.login-ok{
		background: #e67817;
		&:hover{
			background: #be6424;
		}
	}
    .login-gorod{
        color: gray;
        text-transform: uppercase;
        letter-spacing: +0.1em;
    }

    .b-auth {
        display: none;
        margin-top: 40px;

        p {
          margin: 10px 0;
          padding: 0;
        }

        .b-auth__error {
            color: #e1968c;
            margin-top: 20px;
        }

        input {
		    width: $width;
            padding: 13px 0;
        }

        input[type=text], input[type=password] {
            border: 1px solid #dbdbdb;
            color: gray;
            font-size: 13px;
            letter-spacing: 1.2px;
            text-align: center;
          	@include border-radius(4px);
        }

        input[type=text]:focus, input[type=password]:focus {
            border-color: $green-color;
        }
    }
}



