
.b-user__name{
	color:#000;
	font-size: 12.5px;
	font-weight: normal;
	text-decoration: none;
}
.b-user__avatar{
	@include inline-block;
	vertical-align: middle;
	overflow: hidden;
	border-radius: 18px;
	margin-right: 3px;

	img{
		width:35px;
		height:35px;
		display: block; 
	}
}
.b-user_small{
	.b-user__name{
		font-size: 11px;
	}
	.b-user__avatar{
		border-radius: 14px;
		img{
			width:28px;
			height:28px;
			display: block; 
		}
	}
}