{% extends 'gorod/layout.html' %}

{% load staticfiles %}
{% block body-class %}body_feed{% endblock %}

{% block content %}
	<div class="b-profile__wrapper">
		<div class="b-profile">
			<div class="b-profile__avatar"><img src="{{ user_info.avatar }}" /></div>
			<div class="b-profile__text">
			    <span class="b-profile__name">
                    {% if user_info.first_name %}
                        {{ user_info.first_name }} {{ user_info.last_name }}
                    {% else %}
                        {{ user_info }}
                    {% endif %}
                </span>
                {% if user_info == user %}
			        <a class="b-profile__logout" href="{% url 'logout' %}">Выйти</a>
                {% endif %}
		    </div>
		    <div class="clear"></div>
		</div>
	</div>
	<div class="b-feed__wrapper">
        <div class="b-feed b-feed_profile">
            <ul class="b-feed__list">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>

                {% for article in user_last_feeds %}
                    {% include "gorod/feed/_feed_item.html" %}
                {% endfor %}
            </ul>
            
        </div>
    </div>

{% endblock %}
