{% extends 'gorod/layout.html' %}

{% load staticfiles %}
{% block body-class %}body_feed{% endblock %}

{% block content %}
	<div class="b-profile__wrapper">
		<div class="b-profile">
			<div class="b-profile__avatar"><img src="{{ user_info.avatar }}" /></div>
			<div class="b-profile__text">
			    <span class="b-profile__name">
                    {% if user_info.first_name %}
                        {{ user_info.first_name }} {{ user_info.last_name }}
                    {% else %}
                        {{ user_info }}
                    {% endif %}
                </span>
                {% if user_info == user %}
			        <a class="b-profile__logout" href="{% url 'logout' %}">Выйти</a>
                {% endif %}
		    </div>
		    <div class="clear"></div>
		</div>
	</div>
	<div class="b-feed__wrapper">
        {% include "gorod/feed/_feed_item.html" %}
        <script>
            $(function(){
                window.ajaxFeed();
            });
        </script>
        <div class="b-feed">
            <ul class="b-feed__list">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                <li class="b-feed-item b-feed-item_info">
                     <h2 class="b-feed-item__title">Welcome "ГОРОД"</h2>   
                     <p class="b-feed-item__text">Все о платформе. Как начать с ней работать. Как добавлять публикации, фотографии и события города.</p>
                </li>
            </ul>
            <div class="b-feed__more_wrapper"><span class="b-feed__more">Показать еще</span></div>
           
        </div>
    </div>

{% endblock %}
