<form action="" method="post" enctype="multipart/form-data" class="b-form">
    {% csrf_token %}

	<div class="b-form__preview-wrapper">	
		<div class="b-form__preview"></div>
	</div>
	<div class="b-form__picture">{{ form.picture }}</div>

	<div class="b-form__bordered">
		<div class="b-form__title">
			{% if form.title.errors %}
				<span class="b-form__error">{{ form.title.errors }}</span>
			{% endif %}
			<label>Заголовок: {{ form.title }}</label>
		</div>	
		<div class="b-form__rubric">
			<label>Рубрика: {{ form.rubric }}</label>
		</div>
		<div class="clear"></div>
	</div>	
	<div class="b-form__text">
		{{ form.text }}
	</div>
	<div class="b-form__captcha">
		{% if form.captcha.errors %}
			<span class="b-form__error">{{ form.captcha.errors }}</span>
		{% endif %}
		{{ form.captcha }}
	</div>
	<div class="b-form__submit">
    	<input type="submit" value="Сохранить" />
    </div>
</form>