{% load user %}
<i class="b-form__close"></i>
<div class="b-form__header">
	<span class="b-form__type"><span></span></span>
	<div class="b-form__user">
		{%  user user %}
	</div>
	<div class="clear"></div>
</div>
<form action="" method="post" enctype="multipart/form-data" class="b-form">
    {% csrf_token %}
	<div class="b-form__rubric">
		{{ form.rubric }}
	</div>
	
	<div class="b-form__title">
		{% if form.title.errors %}
			<span class="b-form__error">{{ form.title.errors }}</span>
		{% endif %}
		{{ form.title }}
	</div>	

	

	<div class="b-form__text">
		{{ form.text }}
	</div>

	<div class="b-form__preview-wrapper">	
		<div class="b-form__preview"></div>
		<div class="b-form__preview-tools">
			<div class="b-form__change-preview">Изменить картинку</div>
			<div class="b-form__del-preview">Удалить картинку</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="b-form__picture">
        {{ form.picture }}
        {{ form.clear_picture }}
        {{ current_image }}
    </div>

	<div class="b-form__submit">
    	<input type="submit" value="Опубликовать" />
    </div>
</form>
