{% load comments i18n %}
{% load user %}


<div class="b-comments__add">
    {% if user.is_authenticated %}
        <form class="b-comments__add-form" action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}

            <p class="error"></p>
            <div class="b-comment__user">
                {% user user %}
            </div>
            <div class="clear"></div>

            {{ form.comment }}

            {% if node.id %}
                <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" />
            {% endif %}

            <input type="hidden" name="next" value="{{ object.url }}" />
            <p>
                <input type="submit" value="Ответить" id="id_submit" />
            </p>
        </form>
    {% else %}
        <p><a href="" class="b-comments-add__login-link login-link">Авторизуйтесь</a>, чтобы добавлять комментарии!</p>
    {% endif %}
</div>