@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto/roboto-regular_allfont.ru-webfont.eot');
    src: url('fonts/roboto/roboto-regular_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto/roboto-regular_allfont.ru-webfont.woff') format('woff'),
    url('fonts/roboto/roboto-regular_allfont.ru-webfont.ttf') format('truetype'),
    url('fonts/roboto/roboto-regular_allfont.ru-webfont.svg#robotoregular') format('svg');
    font-weight: lighter;
    font-style: normal;
}



body, html {
    margin: 0;
    padding: 0;
	font-size: 62.5%;
    font-family: "robotoregular";
}


h2 {
	font-size: 2.5em;
	margin: 15px 0;
	line-height: 1em;
    font-weight: lighter;
}

.hidden {
    display: none;
}

#main {
	font-size: 2em;
}

.clear {
    clear: both;
}

img {
	border: 0;
}

ul, li, div {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

#header .top {
    background-color: #333;
}

#header-data, #footer {
	width: 998px;
	margin-left: 10%; 
}

#logo {
	position: fixed;
	bottom: 0;
	right: 5%;
}	

#today {
    background-color: #eee;
    font-style: italic;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 10px;
	font-size: 0.8em;
	margin-left: 10%; 
}

#add {
	float: right;
	text-transform: uppercase;
	color: #147f64;
	padding: 10px;
	border: 2px solid #147f64;
	border-radius: 20px;
	font-weight: bold;
	margin-top: 13px;
}

#menu {
	float: left;
}

#menu li {
    float: left;
    list-style-type: none;

}



#menu a {
    color: #989898;
	padding: 25px 25px;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
}

#menu a.current, #menu a:hover{
    background-color: #b200b2;
    color: #fff;
}

#data {
	margin: 30px 5% 0 10%;
}

#feed ul {
}

#feed ul li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
}

.feed-item {
    width: 220px;
    margin: 0 90px 90px 0;
}

.article-common .article-icon img {
	width: 40px;
	height:40px;
}

.article-common .head, .feed-item .head a {
    color: #8c008c;
    font-weight: normal;
}

.feed-item .brief {
	color: #444;
	font-size: 1.3em;
}

.feed-item .brief-line {
	width: 80px;
	border-top: 1px solid #d4d4d4;
	margin: 15px 0;
}

.feed-item .author {

}

.article-common .author-avatar {
	width: 26px;
	height: 26px;
	border: 1px solid white;
	border-radius: 13px;
	float: left;
}


.article-common .author-name {
	color: #aaa;
	font-size: 1.3em;
}

.feed-item .author-name {
    float: left;
	margin: 4px 0 0 10px;
}

#article {
    float: left;
    width: 800px;
}

    /* SINGLE ARTICLE */
    #article .text {
        font-size: 1.4em;
    }

    #article .head {
        margin-top: 35px;
    }

    #article .head h2 {
        line-height: 1.4em;
    }

    #article .author-name {
        margin: 0px 0 35px 0;
    }

    #article img {
        margin: 0 10px 10px 0;
    }

#city-bg {
    height: 158px;
}
    
    #city-bg .city-name {
        font-size: 2.2em;
        color: white;
        margin: 0 0 0 10%; 
        text-transform: uppercase;
        font-weight: normal;
        padding: 0;
        line-height: 150px;
    }
